.out
	.header
		+border-box
		.header__info
			background-color: #ebeced
			.container
				width: 1210px
				.row
					margin-bottom: 0
				.l2
					width: 20%
					border-left: 2px solid #dad9d9
					text-align: center
					&:last-child
						border-right: 2px solid #dad9d9
					.valign-wrapper
						height: 85px
						.info
							width: 100%
							span
								display: block
							.phone
								color: #5d5c5c
								font-family: Helvetica
								font-size: 17px
								font-weight: 400
							.department
								color: #7c7d7d
								font-family: Helvetica
								font-size: 15px
								font-weight: 300
							.mail
								margin: 0 62px 5px 70px
								position: relative
								+border-box
								[class^="icon-"]
									position: absolute
									left: 0
									top: 50%
									margin-left: -30px
									margin-top: -7px
								a
									color: #1484c6
									font-family: Helvetica
									font-size: 15px
									font-weight: 300
									text-decoration: underline
									line-height: 1
							.timework
								position: relative
								color: #7c7d7d
								font-family: Helvetica
								font-size: 15px
								font-weight: 400
								margin: 0 0 0 70px
								text-align: left
								[class^="icon-"]
									position: absolute
									left: 0
									top: 50%
									margin-left: -30px
									margin-top: -8px
		.header__nav
			+border-box
			.container
				width: 1210px
				+border-box
				+clr
				.row
					margin-bottom: 0
					ul
						li
							a
								color: white
								font-family: Helvetica
								font-size: 17px
								font-weight: 400
								padding: 0 27px
								position: relative
								.icon-start_project
									margin-top: 24px
									line-height: 1
									height: 22px
		.header__bottom
			width: 100%
			padding: 30px 0
			+border-box
			+clr
			.container
				width: 1210px
				.logo
					text-align: center
					height: 110px
					.valign
						width: 100%
						
				.l3
					.analitics

						padding: 0 19px 0 60px
						color: white
						font-family: Helvetica
						font-size: 15px
						font-weight: 400
						height: 50px
						text-transform: initial
						line-height: 46px
						i
							position: absolute
							left: 20px
							top: 50%
							margin-top: -14px
				.l4
					.analitics

						padding: 0 55px 0 70px
						color: white
						font-family: Helvetica
						font-size: 15px
						font-weight: 400
						height: 50px
						text-transform: initial
						line-height: 46px
						i
							position: absolute
							left: 20px
							top: 50%
							margin-top: -16px
				.l5
					.analitics

						padding: 0 55px 0 70px
						color: white
						font-family: Helvetica
						font-size: 15px
						font-weight: 400
						height: 50px
						text-transform: initial
						line-height: 46px
						i
							position: absolute
							left: 20px
							top: 50%
							margin-top: -13px
