 <div class="wrap">
 	  <div class="container">
  <div class="row">
  	 <div class="col l3">
 	<div class="categories">
 		<div class="name">Услуги</div>
 		<div class="box">
 			<ul id="slide-out">
 				<li class='has-sub'><a href='#'>Продвижение сайтов</a>
 				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Лидогенерация</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
 				<li class='has-sub'><a href='#'>Интернет-реклама</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
 					<li class='has-sub'><a href='#'>Создание сайтов</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Веб-аналитика</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>SMM</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Стратегия и консалтинг</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Копирайтинг</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Увеличение конверсии</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
 			</ul>
 		</div>
 	</div>
 </div>
 <div class="col l6">
 	2
 </div>
<div class="col l3">
	3
</div>
  </div>
 </div>
 </div>
