<footer class="page-footer">
<div class="container">
<div class="row">
<div class="col l2">
  <div class="logo">
    <img src="img/logo.png" alt="">
  </div>
  <div class="timework">
<i class="icon-time"></i>c 10:00 до 20:00
</div>
<div class="copy">
<p>© 2015 - Latio</p>
<p>Комплексный маркетинг</p>
</div>
</div>
<div class="col l10">
	<div class="row">
		<div class="col l5">
			<div class="socials">
				<ul>
					<li><a href="#"><i class="icon-vk_f"></i></a></li>
					<li><a href="#"><i class="icon-fb_f"></i></a></li>
					<li><a href="#"><i class="icon-tw_f"></i></a></li>
					<li><a href="#"><i class="icon-yt_f"></i></a></li>
					<li><a href="#"><i class="icon-sk_f"></i></a></li>
					<li><a href="#"><i class="icon-gp_f"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col l4">
			<div class="download">
				<a href="#"><i class="icon-pdf"></i>Скачать коммерческое предложение
по созданию сайта</a>
				<a href="#"><i class="icon-pdf"></i>Скачать коммерческое предложение
по продвижению сайта</a>
			</div>
		</div>
		<div class="col l3">
			<div class="name">Телефон в Москве:</div>
			<div class="phone">
+7 (499) 545-83-21</div>
		</div>
	</div>
	<div class="row ">
		<div class="col l12">
			<div class="nav">
				<ul>

					<li><a href="">Компания</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Обратный звонок</a></li>
					<li><a href="">Карта сайта</a></li>
					<li class="right"><a href=""><i class="icon-write"></i> Написать директору</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row off">
		<div class="col l12 menu">
			<div class="col l2">
				<ul>
					<li><a href="">Раскрутка сайта</a></li>
					<li><a href="">В ТОП 10 Яндекса</a></li>
					<li><a href="">Интернет - магазинов</a></li>
					<li><a href="">Статьями</a></li>
					<li><a href="">Комплексное</a></li>
					<li><a href="">По регионам</a></li>
					<li><a href="">По трафику</a></li>
					<li><a href="">По словам</a></li>
					<li><a href="">Молодых</a></li>
					<li><a href="">По позициям</a></li>
					<li><a href="">По кликам</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Разработка сайта</a></li>
					<li><a href="">Интернет - магазин</a></li>
					<li><a href="">Корпоративный</a></li>
					<li><a href="">Визитка Дизайн</a></li>
					<li><a href="">Редизайн</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Поддержка сайта</a></li>
					<li><a href="">Техническая Информационная </a></li>
					<li><a href="">Портфолио</a></li>
					<li><a href="">Создание</a></li>
					<li><a href="">Продвижение</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Реклама в интернете</a></li>
					<li><a href="">Баннерная</a></li>
					<li><a href="">SEO аудит сайта</a></li>
					<li><a href=""> Юзабилити Landing</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Создание фирменного стиля</a></li>
					<li><a href="">Логотип Брендбук</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row off">
	<div class="col l12">
		<p class="offers">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ. Для получения подробной информации о стоимости указанных услуг, пожалуйста, обращайтесь к менеджерам отдела продаж с помощью специальной формы связи или по телефону +7 (499) 545-83-21</p>
	</div>
</div>
</div>
</footer>

<div class="popup-container">
	<!-- popup-callback -->
	<div class="popup popup-callback" id="popup-callback">
		<div class="popup-title">Закажите обратный звонок</div>
		<form action="#">
			<div class="popup-form-row">
				<input type="text" class="phone-mask" name="popup_callback_phone" placeholder="+7(___)___-__-__">
				<span class="icon-phone"></span>
			</div>
			<i class="waves-effect light-blue base btn waves-input-wrapper">
				<input type="submit" value="Заказать звонок" class="waves-button-input">
			</i>
		</form>
		<a href="#" class="popup-close js-popup-close"></a>
	</div>
	<!-- popup-callback end -->
	
	<!-- popup-question -->
	<div class="popup popup-question" id="popup-question">
		<div class="popup-title">У вас есть вопрос?<br>Задайте его нам!</div>
		<form action="#">
			<textarea name="popup_question_text" placeholder="Введите сюда ваш вопрос на тему продвижения бизнеса в интернете"></textarea>
			<input type="text" name="popup_question_email" placeholder="E-mail адрес" />
			<input type="text" name="popup_question_name" placeholder="Ваше имя" />
			<i class="waves-effect light-blue base btn waves-input-wrapper">
				<input type="submit" value="Отправить вопрос" class="waves-button-input">
			</i>
		</form>
		<div class="popup-question-arrows">
			<div class="popup-question-arrows-text1">Мы ответим на<br> вопрос письмом</div>
			<div class="popup-question-arrows-text2">Или постом на<br> блоге</div>
			<div class="popup-question-arrows-text3">а, может, даже снимем<br> видеоподкаст</div>
		</div>
		<div class="popup-question-faq">
			<div class="popup-question-faq-title">faq</div>
			<ul class="popup-question-faq-list">
				<li><a href="#">1. К кому можно обратиться по поводу гостевых постов на Блоге ДLatio?</a></li>
				<li><a href="#">2. Как мне заказать услуги в Latio?</a></li>
				<li><a href="#">3. Где можно найти информацию о партнёрской программе Latio?</a></li>
				<li><a href="#">4. Как мне связаться с маркетинг/PR отделом Latio?</a></li>
				<li><a href="#">5. К кому можно обратиться по поводу программ Latio?</a></li>
			</ul>
		</div>
		<a href="#" class="popup-close-black js-popup-close"></a>
	</div>
	<!-- popup-question end -->
</div>










