<footer class="page-footer">
<div class="container">
<div class="row">
<div class="col l2">
  <div class="logo">
    <img src="img/logo.png" alt="">
  </div>
  <div class="timework">
<i class="icon-time"></i>c 10:00 до 20:00
</div>
<div class="copy">
<p>© 2015 - Latio</p>
<p>Комплексный маркетинг</p>
</div>
</div>
<div class="col l10">
	<div class="row">
		<div class="col l5">
			<div class="socials">
				<ul>
					<li><a href="#"><i class="icon-vk_f"></i></a></li>
					<li><a href="#"><i class="icon-fb_f"></i></a></li>
					<li><a href="#"><i class="icon-tw_f"></i></a></li>
					<li><a href="#"><i class="icon-yt_f"></i></a></li>
					<li><a href="#"><i class="icon-sk_f"></i></a></li>
					<li><a href="#"><i class="icon-gp_f"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col l4">
			<div class="download">
				<a href="#"><i class="icon-pdf"></i>Скачать коммерческое предложение
по созданию сайта</a>
				<a href="#"><i class="icon-pdf"></i>Скачать коммерческое предложение
по продвижению сайта</a>
			</div>
		</div>
		<div class="col l3">
			<div class="name">Телефон в Москве:</div>
			<div class="phone">
+7 (499) 545-83-21</div>
		</div>
	</div>
	<div class="row ">
		<div class="col l12">
			<div class="nav">
				<ul>

					<li><a href="">Компания</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Обратный звонок</a></li>
					<li><a href="">Карта сайта</a></li>
					<li class="right"><a href=""><i class="icon-write"></i> Написать директору</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row off">
		<div class="col l12 menu">
			<div class="col l2">
				<ul>
					<li><a href="">Раскрутка сайта</a></li>
					<li><a href="">В ТОП 10 Яндекса</a></li>
					<li><a href="">Интернет - магазинов</a></li>
					<li><a href="">Статьями</a></li>
					<li><a href="">Комплексное</a></li>
					<li><a href="">По регионам</a></li>
					<li><a href="">По трафику</a></li>
					<li><a href="">По словам</a></li>
					<li><a href="">Молодых</a></li>
					<li><a href="">По позициям</a></li>
					<li><a href="">По кликам</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Разработка сайта</a></li>
					<li><a href="">Интернет - магазин</a></li>
					<li><a href="">Корпоративный</a></li>
					<li><a href="">Визитка Дизайн</a></li>
					<li><a href="">Редизайн</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Поддержка сайта</a></li>
					<li><a href="">Техническая Информационная </a></li>
					<li><a href="">Портфолио</a></li>
					<li><a href="">Создание</a></li>
					<li><a href="">Продвижение</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Реклама в интернете</a></li>
					<li><a href="">Баннерная</a></li>
					<li><a href="">SEO аудит сайта</a></li>
					<li><a href=""> Юзабилити Landing</a></li>
				</ul>
			</div>
			<div class="col l2">
				<ul>
					<li><a href="">Создание фирменного стиля</a></li>
					<li><a href="">Логотип Брендбук</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row off">
	<div class="col l12">
		<p class="offers">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ. Для получения подробной информации о стоимости указанных услуг, пожалуйста, обращайтесь к менеджерам отдела продаж с помощью специальной формы связи или по телефону +7 (499) 545-83-21</p>
	</div>
</div>
</div>
</footer>