<header class="header blog">
	<div class="header__nav">
  <a href="" class="exit"></a>
		 <nav class=" blue darken-5">
		   <div class="container">
		   <div class="row">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="#!" class="brand-logo"></a>
      <ul class="left hide-on-med-and-down">
                                                                                                               
        <li><a href="sass.html">Бизнес</a></li>
        <li><a href="badges.html">Кейсы</a></li>
        <li><a href="collapsible.html">Интервью</a></li>
        <li><a href="mobile.html">Маркетинг</a></li>
        <li><a href="mobile.html">SEO</a></li>
        <li><a href="mobile.html">PPC</a></li>
        <li><a href="mobile.html">Веб-аналитика</a></li>
        <li><a href="mobile.html">Акции</a></li>
        <li><a href="#">Рецензии</a>
        <li><a href="">Мероприятия</a>
        <li><a href="mobile.html">Инсайды</a></li>
      </ul>
    <ul class="right hide-on-med-and-down">
        <li><a href="#popup-question" class="js-popup-link"><i class="icon-n_faq"></i></a></li>
        <li><a href="badges.html"><i class="icon-n_rss"></i></a></li>
        <li>
			<a href="#" class="js-header-blog-drop-link"><i class="icon-n_mail"></i></a>
			<div class="blog-drop-subscribe js-header-blog-drop">
				<div class="blog-drop-subscribe-title">Подпишитесь на<br> еженедельную рассылку Latio</div>
				<p>Вы будете получать подборку полезных статей про интернет-маркетинг и продвижение бизнеса в интернете, а также новости и скидки на отраслевые мероприятия.</p>
				<input type="text" name="blog_drop_subscribe_email" placeholder="E-mail адрес" />
				<input type="text" name="blog_drop_subscribe_name" placeholder="Ваше имя" />
				<div class="waves-effect yellow darken-5 btn">
					<input class="" type="submit" value="Отправить заявку" />
				</div>
				<div class="blog-drop-subscribe-total">Уже подписались <strong>22211</strong> человек</div>
			</div>
		</li>
        <li>
			<a href="#" class="js-header-blog-drop-link"><i class="icon-n_search"></i></a>
			<div class="blog-drop-search js-header-blog-drop">
				<form action="#">
					<input type="text" name="blog_drop_search" placeholder="Поиск по блогу" />
					<input type="submit" class="icon-search" value="" />
				</form>
			</div>
		</li>
      </ul>                                             
      </div>
      </div>
    </div>
  </nav>
	</div>
</header>
