<header class="header blog">
	<div class="header__nav">
  <a href="" class="exit"></a>
		 <nav class=" blue darken-5">
		   <div class="container">
		   <div class="row">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="#!" class="brand-logo"></a>
      <ul class="left hide-on-med-and-down">
                                                                                                               
        <li><a href="sass.html">Бизнес</a></li>
        <li><a href="badges.html">Кейсы</a></li>
        <li><a href="collapsible.html">Интервью</a></li>
        <li><a href="mobile.html">Маркетинг</a></li>
        <li><a href="mobile.html">SEO</a></li>
        <li><a href="mobile.html">PPC</a></li>
        <li><a href="mobile.html">Веб-аналитика</a></li>
        <li><a href="mobile.html">Акции</a></li>
        <li><a href="#">Рецензии</a>
        <li><a href="">Мероприятия</a>
        <li><a href="mobile.html">Инсайды</a></li>
      </ul>
    <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="icon-n_faq"></i></a></li>
        <li><a href="badges.html"><i class="icon-n_rss"></i></a></li>
        <li><a href="collapsible.html"><i class="icon-n_mail"></i></a></li>
        <li><a href="mobile.html"><i class="icon-n_search"></i></a></li>
      </ul>                                             
      </div>
      </div>
    </div>
  </nav>
	</div>
</header>
