<div class="wrap optimization">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">КОНТЕКСТНАЯ РЕКЛАМА</h1>
		<div class="filter">
			<a href="" >Баннерная реклама</a>
			<a href="">Контекстная реклама Google</a>
			<a href="">Аудит контекстной рекламы</a>
			<a href="" >Настройка контекстной рекламы</a>
		</div>
		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Контекстная реклама</span></li>
</ul>
		</div>
	</div>
		<div class="col l1 rel">
			<div class="slide__nav" id="navigation_vert">
				<ul>
					<li>
					<a class="seo_ic" href="#">
					<span>Продвижение сайтов</span>
					</a>
					</li>
					<li>
						<a class="leads_ic" href="#">
					<span>Лидогенерация</span>
					</a>
					</li>
					<li>
						<a class="reklama_ic" href="#">
					<span>Интернет-реклама</span>
					</a>
					</li>
					<li>
						<a class="site_ic" href="#">
					<span>Создание сайтов</span>
					</a>
					</li>
					<li>
						<a class="analitic_ic" href="#">
					<span>Веб-аналитика</span>
					</a>
					</li>
					<li>
						<a class="support_ic" href="#">
					<span>Аналитическая поддержка</span>
					</a>
					</li>
					<li>
						<a class="strategy_ic" href="#">
					<span>Стратегия и консалтинг</span>
					</a>
					</li>
					<li>
						<a class="copy_ic" href="#">
					<span>Копирайтинг</span>
					</a>
					</li>
					<li>
						<a class="conversy_ic" href="#">
					<span>Увеличение конверсии</span>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col l8">
		<div class="content">
<div class="row">
	<div class="col l12">
		<div class="image nb">
			<img src="img/ppc.png" alt="">
		</div>
	</div>	
	</div>
<div class="row">
	<div class="col l12">
		<div class="h3">Содержание</div>
		<blockquote class="contects">
			<ol>
			<li><a href="">Что такое контекстная реклама и в чем ее особенность</a></li>
			<li><a href="">Виды контекстной рекламы</a></li>
			<li><a href="">Динамика рынка контекстной рекламы</a></li>
			<li><a href="">Лидеры рынка контекстной рекламы на 2015 год</a></li>
			<li><a href="">В чём преимущества и недостатки контекстной рекламы</a></li>
			<li><a href="">От чего зависит стоимость контекстной рекламы</a></li>
			<li><a href="">Директолог — специалист по контекстной рекламе</a></li>
			<li><a href="">Заключение</a></li>
		</ol>
		</blockquote>
	</div>
</div>
<div class="row">
	<div class="col l12">
		<div class="h3">1. Что такое контекстная реклама и в чем ее особенность</div>
		<p><b>Контекстная реклама</b> — это тип Интернет-рекламы, особенность которого заключается в том, что рекламные объявления на сайтах показываются в соответствии с их содержанием (контекстом).
			Это мощнейший инструмент БЫСТРОГО привлечения новых клиентов в бизнес!</p>
		<p>
			Если вы являетесь активным пользователем Интернета, то скорее всего видели такую рекламу в поисковой выдаче и на разных сайтах. Все чаще маркетологи и предприниматели используют ее для продвижения товаров и услуг.
		</p>
	</div>
</div>
			<div class="row">
				<div class="col l12">
					<div class="h3">2. Виды контекстной рекламы </div>
					<p class="h3">2.1. Поисковая реклама</p>
					<p>Появляется после того, как человек нажимает кнопку “найти”, введя свой запрос в строку поиска.
						Например, «пластиковые окна в Москве»:</p>
					<div class="image nb">
						<img src="img/ya_search.png" alt="">
					</div>
					<p>
						Поисковая реклама точно соответствует запросу пользователя, а все деньги от ее размещения зарабатывает сеть контекстной рекламы (Яндекс, Гугл, Бегун).
					</p>
					<p>Реклама в поиске имеет свои престижные, и, соответственно, более дорогие места, а также позиции, где она стоит не так дорого, но и ее потенциальная эффективность в таких местах ниже.</p>
					<p class="h3">2.2. Тематическая реклама</p>
					<p>Особенность такой рекламы в том, что половину от стоимости клика берет себе рекламная сеть, а вторую часть от стоимости клика получает вебмастер — создатель сайта, на котором транслируются рекламные объявления.</p>
					<p>Эти объявления могут быть как схожими по тематике (близкими к контексту страницы), так и отличаться от нее.</p>
					<p>Такая особенность настройки рекламной кампании называется “поведенческий таргетинг”.
						Если он отключен, то, на сайте будут показываться только объявления, соответствующие его содержанию.</p>
					<div class="image nb">
						<img src="img/ya_search_n.png" alt="">
					</div>
					<p>
						Если поведенческий таргетинг включен, то посетитель сайта увидит те объявления, темы которых он запрашивал ранее в поисковике.
					</p>
					<p>Например, на сайте о кулинарных рецептах будут транслироваться объявления фотоаппаратов, если недавно человек искал в сети «где купить фотоаппарат».</p>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3">3. Динамика рынка контекстной рекламы</div>
					<p>Сегодня такая реклама для многих сфер бизнеса становится все более популярной и следует за общей динамикой рынка Интернет-рекламы:</p>
					<p class="blue-color">Пересмотр оценок рынка интернет-рекламы, млрд. руб.</p>
					<div class="image nb">
						<img src="img/ya_graph.png" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3">4. Лидеры рынка контекстной рекламы на 2015 год</div>
					<p>На сегодня лидерами рынка контекстной рекламы для русскоязычного сегмента Интернета являются:</p>
					<p>  Яндекс — система <a href="">Яндекс.Директ</a></p>
					<p>Google — система <a href="">Google Adwords</a></p>
					<p>Rambler — система <a href="">Begun</a></p>
					<div class="row logos">
						<div class="col l3 valign-wrapper">
							<img src="img/logo_ya.png" alt="">
						</div>
						<div class="col l6 valign-wrapper center">
							<img src="img/logo_adw.png" alt="">
						</div>
						<div class="col l3 valign-wrapper">
							<img src="img/logo_beg.png" alt="">
						</div>
					</div>
					<p>
						Гугл и Яндекс сейчас заметно опережают Бегуна по причине своей известности и эффективности.</p>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3">6. От чего зависит стоимость контекстной рекламы</div>
					<p>Одним из важнейших показателей при использовании контекстной рекламы является стоимость клика.</p>
					<blockquote class="contects">
						Стоимость клика — это цена, которую платит рекламодатель за переход (клик) по своему объявлению.
					</blockquote>
					<p>На стоимость клика напрямую влияют:</p>
					<p><b>1. Ниша, в который размещается контекстная реклама. </b></p>
					<p><b>2. Способ настройки рекламной кампании.</b></p>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3 center">Почему мы?</div>
					<div class="row why_row">
						<div class="col l6">
							<i class="icon-contects_cel"></i>
							<div class="text">
								Только целевые объявления.
								При составлении объявлений мы ориентируемся на конкретный результат.
							</div>
						</div>
						<div class="col l6">
							<i class="icon-cont_baks"></i>
							<div class="text">
								Непрерывный анализ конверсии и рекомендации по ее увеличению. Мы должны не только привести потенциальных посетителей, но и добиться достижений целей наших партнеров
							</div>
						</div>
						<div class="col l6">
							<i class="icon-cont_ctp"></i>
							<div class="text">
								Реально увеличиваем СТР и снижаем цену клика. Достигается не только хорошей рекламной компанией, но и анализом ситуаций на рынке в целом.
							</div>
						</div>
						<div class="col l6">
							<i class="icon-cont_hand"></i>
							<div class="text">
								— Самое важное, оставаться честным перед своими клиентами.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3 center">Что вы получите в результате?</div>
					<p class="center">При заказе услуги на проведение рекламной кампании с помощью контекстных объявлений мы гарантируем:</p>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="cont_slide">
						<div class="cont_result">
							<div class="item">
								<ul class="check-style">
								<li>предоставление индивидуальных рекомендаций относительно сайта;</li>
								<li>назначение персонального менеджера, прошедшего сертификацию;</li>
								<li>создание эффективных продающих рекламных объявлений;</li>
								<li>быструю настройку вашей рекламной кампании;</li>
								<li>анализ итогов проведения рекламной кампании;</li>
								<li>наблюдение за рекламными кампаниями конкурентов;</li>
								<li>регулярное внесение изменений в приемы продвижения;</li>
								<li>ежемесячные отчеты.</li>
							</ul>
								<p class="center">
								Доступ к web-интерфейсу сайта, который компания «Latio» предоставляет каждому своему клиенту, позволит отслеживать статистику и расходование бюджета.
							</p>
							</div>
							<div class="item">
								<ul class="check-style">
									<li>предоставление индивидуальных рекомендаций относительно сайта;</li>
									<li>назначение персонального менеджера, прошедшего сертификацию;</li>
									<li>создание эффективных продающих рекламных объявлений;</li>
									<li>быструю настройку вашей рекламной кампании;</li>
									<li>анализ итогов проведения рекламной кампании;</li>
									<li>наблюдение за рекламными кампаниями конкурентов;</li>
									<li>регулярное внесение изменений в приемы продвижения;</li>
									<li>ежемесячные отчеты.</li>
								</ul>
								<p class="center">
									Доступ к web-интерфейсу сайта, который компания «Latio» предоставляет каждому своему клиенту, позволит отслеживать статистику и расходование бюджета.
								</p>
							</div>
							<div class="item">
								<ul class="check-style">
									<li>предоставление индивидуальных рекомендаций относительно сайта;</li>
									<li>назначение персонального менеджера, прошедшего сертификацию;</li>
									<li>создание эффективных продающих рекламных объявлений;</li>
									<li>быструю настройку вашей рекламной кампании;</li>
									<li>анализ итогов проведения рекламной кампании;</li>
									<li>наблюдение за рекламными кампаниями конкурентов;</li>
									<li>регулярное внесение изменений в приемы продвижения;</li>
									<li>ежемесячные отчеты.</li>
								</ul>
								<p class="center">
									Доступ к web-интерфейсу сайта, который компания «Latio» предоставляет каждому своему клиенту, позволит отслеживать статистику и расходование бюджета.
								</p>
							</div>
							<div class="item">
								<ul class="check-style">
									<li>предоставление индивидуальных рекомендаций относительно сайта;</li>
									<li>назначение персонального менеджера, прошедшего сертификацию;</li>
									<li>создание эффективных продающих рекламных объявлений;</li>
									<li>быструю настройку вашей рекламной кампании;</li>
									<li>анализ итогов проведения рекламной кампании;</li>
									<li>наблюдение за рекламными кампаниями конкурентов;</li>
									<li>регулярное внесение изменений в приемы продвижения;</li>
									<li>ежемесячные отчеты.</li>
								</ul>
								<p class="center">
									Доступ к web-интерфейсу сайта, который компания «Latio» предоставляет каждому своему клиенту, позволит отслеживать статистику и расходование бюджета.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
<div class="button center">
	<a href="#popup-request" class="waves-effect yellow darken-5 btn js-popup-link"><i class="icon-btn_seo"></i>Заказать рекламную компанию</a>
</div>
	</div>
</div>
		<div class="col l3 rel">
				<div class="request" id="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
	</div>
		
	</div>
</div>

<div class="popup-container">
	<!-- popup-request -->
	<div class="popup popup-request" id="popup-request">
		<div class="popup-title">Оставьте заявку</div>
		<form action="#">
			<input type="text" name="popup_request_name" placeholder="Ваше имя">
			<input type="text" name="popup_request_phone" placeholder="Номер телефона">
			<input type="text" name="popup_request_address" placeholder="Адрес сайта">
			<i class="waves-effect light-blue base btn waves-input-wrapper">
				<input type="submit" value="Заказать звонок" class="waves-button-input">
			</i>
		</form>
		<a href="#" class="popup-close js-popup-close"></a>
	</div>
	<!-- popup-request end -->
</div>