<div class="wrap optimization">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h1 class="center heading-title">НОВОСТИ КОМПАНИИ LATIO</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><span>Новости</span></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 rel">
                <div class="slide__nav" id="navigation_vert">
                    <ul>
                        <li>
                            <a class="seo_ic" href="#">
                                <span>Продвижение сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="leads_ic" href="#">
                                <span>Лидогенерация</span>
                            </a>
                        </li>
                        <li>
                            <a class="reklama_ic" href="#">
                                <span>Интернет-реклама</span>
                            </a>
                        </li>
                        <li>
                            <a class="site_ic" href="#">
                                <span>Создание сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="analitic_ic" href="#">
                                <span>Веб-аналитика</span>
                            </a>
                        </li>
                        <li>
                            <a class="support_ic" href="#">
                                <span>Аналитическая поддержка</span>
                            </a>
                        </li>
                        <li>
                            <a class="strategy_ic" href="#">
                                <span>Стратегия и консалтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="copy_ic" href="#">
                                <span>Копирайтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="conversy_ic" href="#">
                                <span>Увеличение конверсии</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l8">
                <div class="content">
                    <div class="row">
                        <div class="col l12 articles">
                            <div class="row">
                                <div class="col l3">
                                    <img src="img/article_1.png" alt="">
                                </div>
                                <div class="col l9">
                                    <div class="info">
                                        <div class="date">
                                            26 октября
                                        </div>
                                        <div class="title">
                                            <a href="">Google не считает сайты в Google News более авторитетными</a>
                                        </div>
                                        <p class="preview">
                                            Google не считает сайты, находящиеся в Google News, более авторитетными. Об этом заявил Джон Мюллер в ответ на вопрос одного из вебмастеров.
                                        </p>
                                        <a href="" class="more">Подробнее →</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col l12 articles">
                            <div class="row">
                                <div class="col l3">
                                    <img src="img/article_1.png" alt="">
                                </div>
                                <div class="col l9">
                                    <div class="info">
                                        <div class="date">
                                            26 октября
                                        </div>
                                        <div class="title">
                                            <a href="">Google не считает сайты в Google News более авторитетными</a>
                                        </div>
                                        <p class="preview">
                                            Google не считает сайты, находящиеся в Google News, более авторитетными. Об этом заявил Джон Мюллер в ответ на вопрос одного из вебмастеров.
                                        </p>
                                        <a href="" class="more">Подробнее →</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col l12 articles">
                            <div class="row">
                                <div class="col l3">
                                    <img src="img/article_1.png" alt="">
                                </div>
                                <div class="col l9">
                                    <div class="info">
                                        <div class="date">
                                            26 октября
                                        </div>
                                        <div class="title">
                                            <a href="">Google не считает сайты в Google News более авторитетными</a>
                                        </div>
                                        <p class="preview">
                                            Google не считает сайты, находящиеся в Google News, более авторитетными. Об этом заявил Джон Мюллер в ответ на вопрос одного из вебмастеров.
                                        </p>
                                        <a href="" class="more">Подробнее →</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col l12 articles">
                            <div class="row">
                                <div class="col l3">
                                    <img src="img/article_1.png" alt="">
                                </div>
                                <div class="col l9">
                                    <div class="info">
                                        <div class="date">
                                            26 октября
                                        </div>
                                        <div class="title">
                                            <a href="">Google не считает сайты в Google News более авторитетными</a>
                                        </div>
                                        <p class="preview">
                                            Google не считает сайты, находящиеся в Google News, более авторитетными. Об этом заявил Джон Мюллер в ответ на вопрос одного из вебмастеров.
                                        </p>
                                        <a href="" class="more">Подробнее →</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col l12 articles">
                            <div class="row">
                                <div class="col l3">
                                    <img src="img/article_1.png" alt="">
                                </div>
                                <div class="col l9">
                                    <div class="info">
                                        <div class="date">
                                            26 октября
                                        </div>
                                        <div class="title">
                                            <a href="">Google не считает сайты в Google News более авторитетными</a>
                                        </div>
                                        <p class="preview">
                                            Google не считает сайты, находящиеся в Google News, более авторитетными. Об этом заявил Джон Мюллер в ответ на вопрос одного из вебмастеров.
                                        </p>
                                        <a href="" class="more">Подробнее →</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 artic">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!">3</a></li>
                                <li class="waves-effect"><a href="#!">4</a></li>
                                <li class="waves-effect"><a href="#!">5</a></li>
                                <li class="waves-effect"><a href="#!">6</a></li>
                                <li class="waves-effect"><a href="#!">7</a></li>
                                <li class="waves-effect"><a href="#!">8</a></li>
                                <li class="waves-effect"><a href="#!">9</a></li>
                                <li class="waves-effect"><a href="#!">10</a></li>
                                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 rel">
                <div class="request" id="request">
                    <div class="name">Заявка на услуги</div>
                    <div class="box">
                        <div class="form">
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Адрес сайта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваше имя">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Вашa почта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                    <div class="input-field col s12 push">
                                        <div class="row">
                                            <div class="col l3">
                                                <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked>
                                                    <span class="switch-label" data-on="Да" data-off="Нет"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="col l9">
                                                Хочу быть в курсе трендов
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 center">
                                        <input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>