<div class="wrap optimization tender-page">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">ПРИГЛАСИТЬ НАС В ТЕНДЕР</h1>
		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Пригласить нас в тендер</span></li>
</ul>
		</div>
	</div>
		<div class="col l1 rel">
			<div class="slide__nav" id="navigation_vert">
				<ul>
					<li>
					<a class="seo_ic" href="#">
					<span>Продвижение сайтов</span>
					</a>
					</li>
					<li>
						<a class="leads_ic" href="#">
					<span>Лидогенерация</span>
					</a>
					</li>
					<li>
						<a class="reklama_ic" href="#">
					<span>Интернет-реклама</span>
					</a>
					</li>
					<li>
						<a class="site_ic" href="#">
					<span>Создание сайтов</span>
					</a>
					</li>
					<li>
						<a class="analitic_ic" href="#">
					<span>Веб-аналитика</span>
					</a>
					</li>
					<li>
						<a class="support_ic" href="#">
					<span>Аналитическая поддержка</span>
					</a>
					</li>
					<li>
						<a class="strategy_ic" href="#">
					<span>Стратегия и консалтинг</span>
					</a>
					</li>
					<li>
						<a class="copy_ic" href="#">
					<span>Копирайтинг</span>
					</a>
					</li>
					<li>
						<a class="conversy_ic" href="#">
					<span>Увеличение конверсии</span>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col l8">
		<div class="content">
<div class="row">
	<div class="col l12">
		<p>Компания Latio любит и умеет участвовать в тендерах. Если вам понравилось наше портфолио и вы видите нас в списке конкурсантов, пожалуйста, заполните форму запроса. Практика показывает прямую зависимость близости результата к ожиданиям от того, насколько подробно заполнена форма запроса на тендер.</p>
		<p>Если у вас уже есть заполненная форма заявки вашего образца, вы можете загрузить ее здесь:</p>
		
		<div class="tender-forms">
			<div class="tender-form-already">
				<form action="#">
					<div class="input-file">
						<input type="file" value="" />
						<a href="#" class="btn input-file-button">Выбрать</a>
						<div class="input-file-inner">
							<div class="input-field">
								<input type="text" placeholder="Файл не выбран" />
							</div>
						</div>
					</div>
					<input type="submit" class="waves-effect light-blue base btn " value="Отправить">
				</form>
			</div>
			<div class="tender-form">
				<p>Форма запроса:</p>
				<form action="#">
					<div class="tender-form-item">
						<div class="tender-form-item-title">1. Опишите цели, которые ставите перед подрядчиком:</div>
						<div class="input-field">
							<input type="text" />
						</div>
					</div>
					<div class="tender-form-item">
						<div class="tender-form-item-title">2. Опишите услуги, в которых вы нуждаетесь:</div>
						<p>Разработка сайта ( рекомендуем дополнительно заполнить бриф на создание и загрузить его ниже)</p>
						<div class="tender-form-item-line">
							<div class="tender-form-item-double">
								<div class="checkbox-holder">
									<input type="checkbox" id="check1" checked />
									<label for="check1"></label>
								</div>
								<div class="input-field">
									<input type="text" />
								</div>
							</div>
						</div>
						<div class="tender-form-item-line">
						<div class="checkbox-holder">
							<input type="checkbox" id="check2" checked />
							<label for="check2">Продвижение сайта</label>
						</div>
						</div>
						
						<div class="tender-form-item-inner">
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check3" />
								<label for="check3">по позициям</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check4" />
								<label for="check4">по трафику</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check5" />
								<label for="check5">по изборажениям</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check6" />
								<label for="check6">молодого сайта</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check7" />
								<label for="check7"> в регионах РФ</label>
							</div>
							</div>
						</div>
						<div class="tender-form-item-line">
						<div class="tender-form-item-inner2">
							<p>Дополнительные комментарии</p>
							<div class="input-field">
								<input type="text" >
							</div>
						</div>
						</div>
						<div class="tender-form-item-line">
						<div class="checkbox-holder">
							<input type="checkbox" id="check8" />
							<label for="check8">Контекстная реклама</label>
						</div>
						</div>
						<div class="tender-form-item-inner">
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check9" />
								<label for="check9">Яндекс.Директ</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check10" />
								<label for="check10">Google.Adwords</label>
							</div>
							</div>
						</div>
						<div class="tender-form-item-line">
						<div class="checkbox-holder">
							<input type="checkbox" id="check11" />
							<label for="check11">Поисковый репутационный маркетинг</label>
						</div>
						</div>
						<div class="tender-form-item-line">
						<div class="tender-form-item-inner">
							<div class="input-field">
								<input type="text" >
							</div>
						</div>
						</div>
						
						<div class="tender-form-item-line">
						<div class="checkbox-holder">
							<input type="checkbox" id="check12" />
							<label for="check12">Работа с контентом сайта</label>
						</div>
						</div>
						<div class="tender-form-item-inner">
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check13" />
								<label for="check13">Копирайтинг</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check14" />
								<label for="check14">Отрисовка изображений</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check15" />
								<label for="check15">Работа элементов инфографики</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check16" />
								<label for="check16">Комплексное контентное сопровождение сайта</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check17" />
								<label for="check17">Оформление ключевых страниц сайта</label>
							</div>
							</div>
						</div>
						<div class="tender-form-item-line">
						<div class="tender-form-item-inner2">
							<p>Дополнительные комментарии</p>
							<div class="input-field">
								<input type="text" >
							</div>
						</div>
						</div>
						<div class="tender-form-item-line">
						<div class="checkbox-holder">
							<input type="checkbox" id="check18" />
							<label for="check18">Услуги аналитического отдела</label>
						</div>
						</div>
						<div class="tender-form-item-inner">
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check19" />
								<label for="check19">Комплексный аудит сайта</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check20" />
								<label for="check20">Анализ конкурентов</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check21" />
								<label for="check21">Улучшение продающих качеств сайтов</label>
							</div>
							</div>
							<div class="tender-form-item-line">
							<div class="checkbox-holder">
								<input type="checkbox" id="check22" />
								<label for="check22">Настройка систем аналитики</label>
							</div>
							</div>
						</div>
						<div class="tender-form-item-inner2">
							<p>Дополнительные комментарии</p>
							<div class="input-field">
								<input type="text" >
							</div>
						</div>
					</div>
					
					<div class="tender-form-item">
						<div class="tender-form-item-title">3. Сроки подачи заявки:</div>
						<div class="input-field">
							<input type="text" >
						</div>
					</div>
					
					<div class="tender-form-item">
						<div class="tender-form-item-title">4. Площадка подачи заявки:</div>
						<div class="input-field">
							<input type="text" >
						</div>
					</div>
					
					<div class="tender-form-item">
						<div class="tender-form-item-title">5. Сроки выполнения работ:</div>
						<div class="input-field">
							<input type="text" >
						</div>
					</div>
					
					<div class="tender-form-item">
						<div class="tender-form-item-title">6. Загрузка файла:</div>
						<div class="input-file">
							<input type="file" value="" />
							<a href="#" class="btn input-file-button">Выбрать</a>
							<div class="input-file-inner">
								<div class="input-field">
									<input type="text" placeholder="Файл не выбран" />
								</div>
							</div>
						</div>
					</div>
					
					<div class="tender-form-item">
						<div class="tender-form-item-title">7. Контакты:</div>
						<div class="tender-form-item-line large">
						<label class="tender-form-item-label" for="check23">Ваше имя:</label>
						<div class="input-field small">
							<input type="text" id="check23" >
						</div>
						</div>
						<div class="tender-form-item-line large">
						<label class="tender-form-item-label" for="check24">Ваш телефон:</label>
						<div class="input-field small">
							<input type="text" id="check24" >
						</div>
						</div>
						<input type="submit" class="waves-effect light-blue base btn " value="Отправить заявку">
					</div>
					
					
				</form>
			</div>
		</div>
	</div>	
</div>

	
	
	
	
	
	
	
	</div>
</div>
		<div class="col l3 rel">
				<div class="request" id="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
	</div>
		
	</div>
</div>