<div class="wrap optimization">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">ПРОДВИЖЕНИЕ САЙТОВ СТАТЬЯМИ</h1>
		<div class="filter">
			<a href="">молодых</a>
			<a href="">по трафику</a>
			<a href="">по словам</a>
			<a href="">комплексное</a>
			<a href="" class="active">статьями</a>
			<a href="">в ТОП10 Яндекса</a>
			<a href="">в Google</a>
			<a href="">интернет-магазинов</a>
			<a href="">недорогое</a>
			<a href="">порталов</a>
			<a href=""  >по кликам</a>
			<a href="">по позициям</a>
			<a href="">по регионам</a>
			<a href="">по России</a>
		</div>
		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Продвижение сайтов по статьям</span></li>
</ul>
		</div>
	</div>
		<div class="col l1 rel">
			<div class="slide__nav" id="navigation_vert">
				<ul>
					<li>
					<a class="seo_ic" href="#">
					<span>Продвижение сайтов</span>
					</a>
					</li>
					<li>
						<a class="leads_ic" href="#">
					<span>Лидогенерация</span>
					</a>
					</li>
					<li>
						<a class="reklama_ic" href="#">
					<span>Интернет-реклама</span>
					</a>
					</li>
					<li>
						<a class="site_ic" href="#">
					<span>Создание сайтов</span>
					</a>
					</li>
					<li>
						<a class="analitic_ic" href="#">
					<span>Веб-аналитика</span>
					</a>
					</li>
					<li>
						<a class="support_ic" href="#">
					<span>Аналитическая поддержка</span>
					</a>
					</li>
					<li>
						<a class="strategy_ic" href="#">
					<span>Стратегия и консалтинг</span>
					</a>
					</li>
					<li>
						<a class="copy_ic" href="#">
					<span>Копирайтинг</span>
					</a>
					</li>
					<li>
						<a class="conversy_ic" href="#">
					<span>Увеличение конверсии</span>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col l8">
		<div class="content">
<div class="row">
	<div class="col l12">
		<div class="h3">Продвижение по статьям</div>
		<p class="border">Это один из вечных способов SEO продвижения - SEO статьи на вашем сайте! Статьи привлекают на ваш сайт потенциальных клиентов и продают ваши услуги 24 часа в сутки круглый год! В сезон активного роста продаж и в период их спада. Без дополнительных инвестиций в покупку ссылок и прочие SEO мероприятия. Надежно, стабильно и долгосрочно.</p>
		<div class="image">
			<img src="img/art_mg.png" alt="">
		</div>
		<div class="button center">
			<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-online"></i>Оставить предварительный заказ ONLINE</a>
		</div>
	</div>	
	</div>
<div class="row">
	<div class="col l12">
		<div class="h3">В чем суть?</div>
		<p>Речь идет о возможности привлекать дополнительный поисковый трафик без ежемесячных вложений в покупку ссылок или контекстную рекламу. При этом результат в виде количества потенциальных клиентов от этой работы будет только увеличиваться с каждым днем. Но есть и свои трудности, поэтому просто написав своими силами некоторое количество статей и разместив их у себя на сайте - результат скорее всего не оправдает ваши надежды и вложенные средства.</p>
		<div class="h3">Когда ждать результатов?</div>
		<p>Первые результаты от продвижения сайта достигаются через 2-3 недели после размещения статей на сайте. Стоит заметить, что первым результатом уже может быть ТОП 10. Но тут все зависит от конкуренции по запросу.</p>
	</div>
</div>
<div class="row">
	<div class="col l12">
		<div class="h3 mb">Сколько стоит написание статей на сайте?</div>
<table class="striped centered">
	<tr>
	<td>Количество
статей</td>
	<td>От 1 
до 100
</td>
	<td>От 101
до 500</td>
	<td>От 501
до 1000</td>
	<td>От 
1000</td>
	</tr>
	<tr>
	<td>Стоимость
1 статьи</td>
	<td>950</td>
	<td>750</td>
	<td>600</td>
	<td>500</td>
	</tr>
</table>
<p><b>Не упустите свой шанс! Каждый месяц я могу взять на продвижение по такой схеме всего 3 сайта. 
Звоните прямо сейчас: +7 (965) 239-27-24 или <a href="" class="yel">заполняйте заявку!</a></b></p>
	</div>

</div>
	<div class="row">
		<div class="col l12 method">
			<div class="h3">Что вы получаете за эти деньги?</div>
			<ul class="disc-style">
				<li><span>формирование технического задания на текст</span></li>
				<li><span>работа копирайтера - написание текста</span></li>
				<li><span>прием текста от копирайтера (проверка соответствия техническому заданию)</span></li>
				<li><span>проверка текста на уникальность</span></li>
				<li><span>размещение текста на сайте, с учетом всех необходимых для продвижения сайта нюансов</span></li>
				<li><span>контроль индексации статей</span></li>
			</ul>
		</div>
	</div>
		<div class="row">
		<div class="col l12 method">
			<div class="h3">Почему это выгодно?</div>
			<ul class="disc-style">
				<li><span>Цена 1 перехода на сайт сокращается многократно. Через какое-то время вы будете получать бесплатный трафик, отбив деньги на его написание - текст все еще будет работать на вас!</span></li>
				<li><span>Не нужно каждый месяц оплачивать продвижение сайта, эффект от написания статей - вечный и только увеличивается с каждым днем.</span></li>
			</ul>
		</div>
	</div>
<div class="row border">
	<div class="col l12">
		<div class="h3">С чем хорошо совместить это
предложение?</div>
<div class="sentence">
	<div class="sentence_item">
	<i class="icon-semantic_core"></i>
		<div class="info valign-wrapper">Подбор широкого семантического ядра (список поисковых запросов)</div>
	</div>
	<div class="sentence_item">
	<i class="icon-seo_cms"></i>
		<div class="info valign-wrapper">Техническое задание на внутреннюю оптимизацию сайта (автоматизация CMS для SEO)</div>
	</div>
	<div class="sentence_item">
	<i class="icon-cms"></i>
		<div class="info valign-wrapper">Внедрение технического задания в CMS (программирование)</div>

	</div>
</div>
<div class="h3">
	Примеры
</div>
<div class="examples">
	<div class="image">
		<img src="img/graf_fst.png" alt="">
	</div>
	<p><b>1. </b>Размещаем статьи на сайте.</p>
	<p><b>2. </b>Апдейт поисковой системы. Недавно размещенные на сайте SEO статьи вошли в индекс поисковых систем и начали давать целевой трафик.</p>
	<p><b>3. </b>Доверие к сайту возрастает статьи начинают давать все больше SEO трафика.</p>
	<div class="image">
		<img src="img/graf_last.png" alt="">
	</div>
	<p><b>1. </b>Запускалась контекстная реклама (оранжевая ветка графика), с SEO идет мало трафика (красная ветка графика).</p>
	<p><b>2. </b>Произошла индексация размещенных статей поисковыми системами, трафик с контекстной рекламы сравнялся с SEO трафиком.</p>
	<p><b>3. </b>Происходит отказ от контекстной рекламы, трафик с SEO статей увеличивается.</p>
<p>Есть примеры поднятия посещаемости сайта на уровень 2.000.000+ уникальных посетителей в месяц используя только эту методику наполнения сайта контентом.</p>
</div>
	</div>
</div>
<div class="button center">
	<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-btn_seo"></i>Заказать продвижение сайта</a>
</div>
	</div>
</div>
		<div class="col l3 rel">
				<div class="request" id="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
	</div>
		
	</div>
</div>