<div class="wrap analitics">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">Анализ сайта - проверка оптимизации</h1>

		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Анализ сайта - проверка оптимизации</span></li>
</ul>
		</div>
	</div>
		<div class="col l1 rel">
			<div class="slide__nav" id="navigation_vert">
				<ul>
					<li>
					<a class="seo_ic" href="#">
					<span>Продвижение сайтов</span>
					</a>
					</li>
					<li>
						<a class="leads_ic" href="#">
					<span>Лидогенерация</span>
					</a>
					</li>
					<li>
						<a class="reklama_ic" href="#">
					<span>Интернет-реклама</span>
					</a>
					</li>
					<li>
						<a class="site_ic" href="#">
					<span>Создание сайтов</span>
					</a>
					</li>
					<li>
						<a class="analitic_ic" href="#">
					<span>Веб-аналитика</span>
					</a>
					</li>
					<li>
						<a class="support_ic" href="#">
					<span>Аналитическая поддержка</span>
					</a>
					</li>
					<li>
						<a class="strategy_ic" href="#">
					<span>Стратегия и консалтинг</span>
					</a>
					</li>
					<li>
						<a class="copy_ic" href="#">
					<span>Копирайтинг</span>
					</a>
					</li>
					<li>
						<a class="conversy_ic" href="#">
					<span>Увеличение конверсии</span>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col l8">
		<div class="content">
		<div class="row">
			<div class="col l12">
				<div class="level">
					<div class="img left">
						<img src="img/level.png" alt="">
					</div>
					<div class="level_info left">
						<p>Уровень оптимизации:</p>
						<div class="level_count">
							<span>80.00</span>
							<span>100.00</span>
						</div>
					</div>
					<div class="text left valign-wrapper col l6">
						Оставьте свои контакты, чтобы получить результаты глубокого аудита и оценку стоимости продвижения
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l12">
				<div class="site-form">
					<form>
						<div class="row">
						<div class="input-field col l5">
						<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col l5">
						<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col l2">
						<input type="submit" class="waves-button-input light-green base-form btn" value="Запустить">
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l12">
				<div class="site">
					<div class="img left col l3">
						<img src="img/regru.png" alt="">
					</div>
					<div class="intro left col l9">
						<div class="name">REG.RU</div>
						<div class="text">
							<p>Розничная и оптовая регистрации доменов второго уровня в зонах ru, su и др. зонах мира, проверка и подбор доменов. Стоимость услуг. Сервис whois, технической поддержки. Нормативные документы. FAQ.

</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l12">
				<div class="express valign-wrapper ">
					<div class="h5 center-align">ЭКСПРЕСС-ДИАГНОСТИКА</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l12 table-results">
				<table class="bordered">
					<tr>
					<td><a href="">Скорость реакции сервера</a></td>
					<td>0.01 сек.</td>
					<td><span><i class="icon-good"></i>Отлично!</span></td>
					</tr>
					<tr>
					<td><a href="">Скорость загрузки страницы</a></td>
					<td>0.14 сек.</td>
					<td><span><i class="icon-good"></i>Здорово!</span></td>
					</tr>
					<tr>
					<td><a href="">Объём главной страницы</a></td>
					<td>22.78 кб</td>
					<td><span><i class="icon-good"></i>То, что надо!</span></td>
					</tr>
					<tr>
					<td><a href="">Страниц в индексте</a></td>
					<td>
					<p>125 000 <span>в Google</span></p>
					<p>8 000 <span>в Яндексе</span></p>
</td>
					<td><span><i class="icon-warn"></i>Беда!</span></td>
					</tr>
					<tr>
					<td><a href="">Наличие стандартов</a></td>
					<td>
					<span><i class="icon-warn"></i>Адаптивность</span>
					<span><i class="icon-warn"></i>Микроразметка</span>
					</td>
					<td>
					<span><i class="icon-good"></i>Sitemap.xml</span>
					<span><i class="icon-good"></i>Robots.txt</span>
					</td>
					</tr>
					<tr>
					<td><a href="">Счётчики</a></td>
					<td><span><i class="icon-good"></i>Google.Analytics</span>
					
					</td>
					<td><span><i class="icon-good"></i>Яндекс.Метрика</span></td>
					</tr>
					<tr>
					<td><a href="">Контекстная реклама</a></td>
					<td>Да</td>
					<td><span><i class="icon-good"></i>Отлично!</span></td>
					</tr>
					<tr>
					<td><a href="">Вирусы</a></td>
					<td>Не обнаружены</td>
					<td><span><i class="icon-good"></i>Прекрасно</span></td>
					</tr>
					<tr>
					<td><a href="">Авторитетность</a></td>
					<td>
						<p>PR: 5 / 10</p>
						<p>тИЦ: 16 000</p>
					</td>
					<td><span><i class="icon-good"></i>Чудесно!</span></td>
					</tr>
					<tr>
					<td><a href="">Место в рейтинге Alexa</a></td>
					<td>6 082</td>
					<td><span><i class="icon-alert"></i>Прекрасно</span></td>
					</tr>
					<tr>
					<td><a href="">Посещаемость</a></td>
					<td>Средняя</td>
					<td><span><i class="icon-alert"></i>Можно лучше!</span></td>
					</tr>
					<tr>
					<td><a href="">Наличие в каталогах</a></td>
					<td>
						<span><i class="icon-good"></i>DMOZ</span><br>
						<span><i class="icon-good_n"></i>Mail.ru</span>
					</td>
					<td>
						<span><i class="icon-good"></i>Яндекс.Каталог</span><br>
						<span><i class="icon-good_n"></i>Rambler</span>
					</td>
					</tr>
					<tr>
					<td><a href="">Входящих ссылок</a></td>
					<td>
					<p>696 155 сайтов</p>
					<p>9 783 061 страниц</p>
					</td>
					<td>
						<span><i class="icon-good"></i>Восторг</span>
					</td>
					</tr>
				</table>
				<p class="center">
					Изменение количества входящих ссылок на ваш сайт:
				</p>
				<div class="image center lnk">
					<img src="img/links_fr.png" alt="">
				</div>
				<table class="bordered bottom">
					<tr>
					<td><a href="">Возраст домена</a></td>
					<td>10 лет 0 месяцев</td>
					<td><span><i class="icon-good"></i>Браво!</span></td>
					</tr>
					</table>
			</div>
		</div>
		<div class="row">
			<div class="col l12">
				<div class="done">
				<div class="ico col l3 center">
					<i class="icon-check_b"></i>
				</div>
					<div class="info col l9">
						<div class="h3">Первый шаг сделан!</div>
						<div class="text">
							<p>В рамках экспресс-аудита мы проанализировали главные страницы и выявили основные характеристики сайта. В течении последующих 3-5 минут будет произведена глубокая диагностика дополнительных 25 страниц и предоставлен расширенный отчёт.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l12">
				<div class="ansver center">
					<p>Прямо сейчас мы покажем сравнение с конкурентами, ключевые слова с оценкой сроков, конкурентности и ценой продвижения.</p>
					<p>Чтобы получить подробные результаты и начать продвижение, просто оставьте свои контактные данные: телефон и e-mail.</p>
					<div class="answer-form">
						<form action="#">
								<div class="row">
						<div class="input-field col l6">
						<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col l6">
						<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col l12">
						<input type="submit" class="waves-button-input light-green base-form btn" value="Получить отчет">
						</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="col l3 rel">
				<div class="request" id="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
	</div>
		
	</div>
</div>