<div class="wrap optimization">
	<div class="container">
	<div class="row">
		<div class="col l9">
		<div class="content">
		<div class="row blog_item">
			<div class="col l12">
				<div class="name">
					Как настроить динамический ремаркетинг в AdWords без Google Merchant Center
				</div>
				<div class="blog_info">
					<div class="row">
						<div class="col l6">
							<div class="col l4">
							<div class="date items">
								19.01.2016
							</div>
							</div>
							<div class="col l3">
								<div class="whois items">
									<a href="">Илья</a>
								</div>
							</div>
							<div class="col l5">
								<div class="category items">
									<a href="">PPC</a>
								</div>
							</div>
						</div>
						<div class="col l6">
							<div class="col l2">
							<div class="liks items">
								41
							</div>
							</div>
							<div class="col l2">
							<div class="visitors items">
								548
							</div>
							</div>
							<div class="col l8">
								<div class="comment items">
									<a href="">Напишите комментарий первым</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="preview">
					<div class="row">
					<div class="col l12">
						<p>
							Сегодня хочу подробно представить вариант настройки динамического ремаркетинга Google AdWords для интернет магазинов в странах, где отсутствует Google Merchant Center. Как показывает практика, этот вопрос все еще актуален.
Знаю, существуют альтернативные способы, но я опишу только те, которые проверял и использовал лично.
						</p>
					</div>
					</div>
				</div>
				<div class="prev_image center">
					<img src="img/b_prev.png" alt="">
				</div>
				<div class="more center">
					<a href="">Читать дальше</a>
				</div>
			</div>
		</div>
				<div class="row blog_item">
			<div class="col l12">
				<div class="name">
					Всемогущая функция Query — подробное руководство
				</div>
				<div class="blog_info">
					<div class="row">
						<div class="col l6">
							<div class="col l4">
							<div class="date items">
								19.01.2016
							</div>
							</div>
							<div class="col l3">
								<div class="whois items">
									<a href="">Илья</a>
								</div>
							</div>
							<div class="col l5">
								<div class="category items">
									<a href="">Веб-аналитика</a>
								</div>
							</div>
						</div>
						<div class="col l6">
							<div class="col l2">
							<div class="liks items">
								41
							</div>
							</div>
							<div class="col l2">
							<div class="visitors items">
								548
							</div>
							</div>
							<div class="col l8">
								<div class="comment items">
									<a href="">Напишите комментарий первым</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="preview">
					<div class="row">
					<div class="col l12">
						<p>
							Думаю, все слышали о правиле Парето. В любой сфере 20% усилий дают 80% результата. Например, 20% своего гардероба вы носите 80% времени, 20% ваших клиентов приносят 80% дохода. Так же и в Google Таблицах: зная 20% существующих функций, вы сможете решить 80% всех возможных задач.
Я считаю Query одной из наиболее полезных функций Google Таблиц. Но в справке Google она описывается очень поверхностно, и вся мощь данной функции не раскрыта. При более детальном знакомстве становится ясно, что она способна заменить большую часть существующих функций.
						</p>
					</div>
					</div>
				</div>
				<div class="prev_image center">
					<img src="img/b_prev_1.png" alt="">
				</div>
				<div class="more center">
					<a href="">Читать дальше</a>
				</div>
			</div>
		</div>
		<div class="button center blg">
	<a href="" class="waves-effect light-blue base btn analitics">Показать все записи</a>
</div>
	</div>
</div>
		<div class="col l3">
		<div class="most_recent">
		<div class="name">Самое обсуждаемое</div></a>
		<div class="box">
			<ul>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="comment">
									<a href="">4</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										Дополнение Google Analytics для Google Taблиц — полное руководство
									</a>
								</div>
							</div>
						</div>
				</li>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="comment">
									<a href="">22</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										SEO-продвижение сайта eda.ua — рост органического трафика на 331,5% за шесть месяцев
									</a>
								</div>
							</div>
						</div>
				</li>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="comment">
									<a href="">18</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										Как мы сделали инструмент веб-аналитики для сайта Ecommerce
									</a>
								</div>
							</div>
						</div>
				</li>
			</ul>
		</div>
	</div>

		<div class="most_recent">
		<div class="name">Самое популярное</div></a>
		<div class="box">
			<ul>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="liks">
									<a href="">4</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										Дополнение Google Analytics для Google Taблиц — полное руководство
									</a>
								</div>
							</div>
						</div>
				</li>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="liks">
									<a href="">22</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										SEO-продвижение сайта eda.ua — рост органического трафика на 331,5% за шесть месяцев
									</a>
								</div>
							</div>
						</div>
				</li>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="liks">
									<a href="">18</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										Как мы сделали инструмент веб-аналитики для сайта Ecommerce
									</a>
								</div>
							</div>
						</div>
				</li>
			</ul>
		</div>
	</div>

		<div class="most_recent">
		<div class="name">Самое читаемое</div></a>
		<div class="box">
			<ul>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="visitors">
									<a href="">4</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										Дополнение Google Analytics для Google Taблиц — полное руководство
									</a>
								</div>
							</div>
						</div>
				</li>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="visitors">
									<a href="">22</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										SEO-продвижение сайта eda.ua — рост органического трафика на 331,5% за шесть месяцев
									</a>
								</div>
							</div>
						</div>
				</li>
				<li>
					<div class="row">
							<div class="col l3">
								<div class="visitors">
									<a href="">18</a>
								</div>
							</div>
							<div class="col l9">
								<div class="what_blog">
									<a href="">
										Как мы сделали инструмент веб-аналитики для сайта Ecommerce
									</a>
								</div>
							</div>
						</div>
				</li>
			</ul>
		</div>
	</div>

<div class="response">
     		<div class="box">
     			<div class="name center-align">Подпишитесь на рассылку</div>
     			<div class="form">
     				<form action="#">
     					<input type="text" placeholder="Введите ваш e-mail">
     					<input type="submit" value="ОК">
     				</form>
     			</div>
     			<div class="socials">
     			<div class="name center-align">Мы в социальных сетях</div>
     				<ul>
     					<li><a href="#"><i class="icon-vk"></i></a></li>
     					<li><a href="#"><i class="icon-fb"></i></a></li>
     					<li><a href="#"><i class="icon-tw"></i></a></li>
     					<li><a href="#"><i class="icon-ok"></i></a></li>
     					<li><a href="#"><i class="icon-gp"></i></a></li>
     				</ul>
     			</div>
     		</div>
     	</div>
<div class="social">
<img src="img/b_soc.png" alt="">
</div>
		</div>
	</div>
		
	</div>
</div>