 <div class="wrap optimization">
 	  <div class="container">
  <div class="row">
  <div class="col l12">
		<h1 class="center heading-title">ПРОДВИЖЕНИЕ САЙТОВ ПО ЛИДАМ</h1>
		<div class="filter">
			<a href="">молодых</a>
			<a href="">по трафику</a>
			<a href="">по словам</a>
			<a href="">комплексное</a>
			<a href="">статьями</a>
			<a href="">в ТОП10 Яндекса</a>
			<a href="">в Google</a>
			<a href="">интернет-магазинов</a>
			<a href="">недорогое</a>
			<a href="">порталов</a>
			<a href="">по кликам</a>
			<a href="">по позициям</a>
			<a href="">по регионам</a>
			<a href="">по России</a>
		</div>
		<div class="breadcrumbs">
			<ul>
				<li><a href="">Главная</a></li>
				<li><a href="">Продвижение сайтов</a></li>
				<li><span>Продвижение по лидам</span></li>
			</ul>
		</div>
	</div>
  	 <div class="col l3">
 	<div class="categories">
 		<div class="name">Услуги</div>
 		<div class="box">
 			<ul id="slide-out">
 				<li class='has-sub'><a href='#'>Продвижение сайтов</a>
 				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Лидогенерация</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
 				<li class='has-sub'><a href='#'>Интернет-реклама</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
 					<li class='has-sub'><a href='#'>Создание сайтов</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Веб-аналитика</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>SMM</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Стратегия и консалтинг</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Копирайтинг</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
				<li class='has-sub'><a href='#'>Увеличение конверсии</a>
				<ul>
				<li><a href='#'>Аналитическая поддержка</a></li>
				<li><a href='#'>Сплит-тестирование</a></li>
				<li><a href='#'>Юзабилити</a></li>
				</ul>
				</li>
 			</ul>
 		</div>
 	</div>
 	<div class="position">
 		<div class="name">
 			Позиции
 		</div>
 		<div class="box">
 			<ul class="positions">
 				<li>
 					<div class="link center-align"><a href="">http://atvarmor.ru</a></div>
 					<div class="image">
 						<img src="img/atva.png" alt="">
 					</div>
 					<div class="search ">
 						<div class="bot valign-wrapper"> 
<div class="img center-align">
	<img src="img/yandex.png"  alt=""/>
</div>
</div>
 						<div class="list">
 						<div class="row">
 							<div class="item col l12">
 								<b>156</b><span>(80%)</span> —  Запросов в ТОП 10
 							</div>
 						</div>
 						<div class="row">
 							<div class="item col l12">
 								<b>26</b><span>(13%)</span> —  Позиций улучшилось
 							</div>
 						</div>
 							<div class="row">
 								<div class="item col l12">
 								<b>14</b><span>(7%)</span> —  Позиций ухудшилось
 							</div>
 							</div>	
 						</div>
 						<div class="info">
 								<div class="item">
 									<div class="row">
 										<div class="col l9">Запрос</div>
 										<div class="col l3">Место</div>
 									</div>
 								</div>
 								<div class="item">
 									<div class="row">
 										<div class="col l9">
 											<a href="">купить квадроцикл</a>
 										</div>
 										<div class="col l3 center">
 											<span>3</span>
 										</div>
 									</div>
 								</div>
 								<div class="item">
 								<div class="row">
 									<div class="col l9">
 											<a href="">cfmoto</a>
 										</div>
 										<div class="col l3 center">
 										<span>3</span>
 										</div>
 										</div>
 								</div>
 								<div class="item">
 								<div class="row">
 										<div class="col l9">
 											<a href="">квадроциклы цены</a>
 										</div>
 										<div class="col l3 center">
 											<span>3</span>
 										</div>
 										</div>
 								</div>
 								<div class="item">
 								<div class="row">
 										<div class="col l9">
 											<a href="">продажа квадроциклов</a>
 										</div>
 										<div class="col l3 center">
 											<span>5</span>
 										</div>
 										</div>
 								</div>
 								
 								<div class="item">
 									<div class="row">
 										<div class="col l9">
 											<a href="">аксессуары для квадроциклов</a>
 										</div>
 										<div class="col l3 center">
 											<span>7</span>
 										</div>
 										</div>
 								</div>
 						</div>
 					</div>
 				</li>

 			</ul>
 			<a  class="next"></a>
 			<a  class="prev"></a>
 		</div>
 	</div>
 	<div class="reviews">
 		<div class="name">
 			Клиенты о нас
 		</div>
 		<div class="box">
 			<ul class="review">
 				<li>
 					<div class="image valign-wrapper">
 					<div class="img center-align">
 						<img src="img/logom.png" alt="">
 						</div>
 					</div>
 					<div class="content">
 						Ответственность, компетентность и профессионализм — именно те качества, которые мы хотели видеть у своего партнера, и «Latio» смог удовлетворить наши пожелания.
 					</div>
 				</li>
 			</ul>
 			<a  class="pager-next"></a>
 			<a  class="pager-prev"></a>
 		</div>
 	</div>
 	<div class="response">
 		<div class="box">
 			<div class="name center-align">Подпишитесь на рассылку</div>
 			<div class="form">
 				<form action="#">
 					<input type="text" placeholder="Введите ваш e-mail">
 					<input type="submit" value="ОК">
 				</form>
 			</div>
 			<div class="socials">
 			<div class="name center-align">Мы в социальных сетях</div>
 				<ul>
 					<li><a href="#"><i class="icon-vk"></i></a></li>
 					<li><a href="#"><i class="icon-fb"></i></a></li>
 					<li><a href="#"><i class="icon-tw"></i></a></li>
 					<li><a href="#"><i class="icon-ok"></i></a></li>
 					<li><a href="#"><i class="icon-gp"></i></a></li>
 				</ul>
 			</div>
 		</div>
 	</div>
 	<div class="warning">
 		<div class="name">Важно</div>
 		<div class="box">
 			<div class="info center">
 				Новые правила продвижения в
 			</div>
 			<div class="logo center">
 				<a href="">
 					<img src="img/yandex_big.png" alt="">
 				</a>
 			</div>
 		</div>
 	</div>
 </div>
 <div class="col l6 content leads-page">
	<div class="row">
		<div class="col l12">
			<div class="h3 inline-block">Продвижение по лидам</div>
			<div class="label-price">от 100 руб.</div>
			<p class="border">Продвижение по обращениям (лидам) – идеальная схема работы для тех клиентов, которые хотят платить за определенные целевые действия посетителей своего сайта (лиды).</p>
			<div class="image center">
				<img src="img/leads-page-01.jpg" alt=""/>
			</div>
			<div class="button center">
				<a class="waves-effect yellow darken-5 btn" href=""><i class="icon-online"></i>Оставить предварительный заказ ONLINE</a>
			</div>
		</div>
	</div>
	<div class="row border">
		<div class="col l12">
			<div class="h3">Схема работы по лидами (звонкам и заявкам)</div>
			<p><span class="blue-color">Важно:</span> При работе над проектом мы постоянно оцениваем
			(отслеживаем) динамику звонков и заявок на ваш сайт.</p>
			<!-- reasons -->
			<div class="reasons">
				<div class="list">
					<!-- list__item -->
					<div class="list__item">
						<div class="number">
							1.
						</div>
						<div class="info">
							<div class="title">Первые 3 месяца прорабатываем сайт (в этот период оплата является фиксированной и зависит от объема работ: от 20 000 до 35 000 руб.)</div>
							<div class="list__item-content">
								<div class="list__item-content-title">Работы, которые входят в абонемент:</div>
								<div class="list__item-content-text">
									<p>Полный анализ и аудит сайта:
									Оцениваем удобен ли сайт для потенциальных покупателей и заказчиков, удобен ли для продвижения и для поисковых систем.</p>
									<div class="single-accord-wrap">
										<ul class="instruments navi single-accord-content">
											<li>Оцениваем текущую оптимизацию, проверяем текст на "заспамленность", определяем наличие фильтров со стороны поисковиков. Затем выполняем необходимые доработки;</li>
											<li>Анализируем и определяем текущие недостатки и недоработки на сайте: в навигации, структуре, полезных модулях, присутствию дефицита информации на страницах и пр.;</li>
											<li>Проводим анализ юзабилити (удобства) сайта: качество предоставления информации, удобства оформления заказа и пр.</li>
										</ul>
										<a href="#" class="single-accord-toggle">Перечень работ ↓</a>
									</div>
									<p>Улучшение продающих качеств сайта:<br />
									Согласно техническому заданию, созданному на предыдущем этапе сайт прорабатывается и делается более удобным для потенциальных клиентов и поисковиков. В итоге получается сайт, полностью готовый к дальнейшей работе и максимально удобный для покупки товара или заказа услуг.</p>
									<div class="single-accord-wrap">
										<div class="single-accord-content">
											<ul class="instruments navi single-accord-content">
												<li>Оцениваем текущую оптимизацию, проверяем текст на "заспамленность", определяем наличие фильтров со стороны поисковиков. Затем выполняем необходимые доработки;</li>
												<li>Анализируем и определяем текущие недостатки и недоработки на сайте: в навигации, структуре, полезных модулях, присутствию дефицита информации на страницах и пр.;</li>
												<li>Проводим анализ юзабилити (удобства) сайта: качество предоставления информации, удобства оформления заказа и пр.</li>
											</ul>
										</div>
										<a href="#" class="single-accord-toggle">Перечень работ ↓</a>
									</div>
									<p>Улучшение продающих качеств сайта:<br />
									Оптимизация:<br />
									Все работы на данном этапе направлены на привлечение максимального числа посетителей из поисковых систем, причем в максимально сжатые сроки.</p>
									<div class="single-accord-wrap">
										<div class="single-accord-content">
											<ul class="instruments navi single-accord-content">
												<li>Оцениваем текущую оптимизацию, проверяем текст на "заспамленность", определяем наличие фильтров со стороны поисковиков. Затем выполняем необходимые доработки;</li>
												<li>Анализируем и определяем текущие недостатки и недоработки на сайте: в навигации, структуре, полезных модулях, присутствию дефицита информации на страницах и пр.;</li>
												<li>Проводим анализ юзабилити (удобства) сайта: качество предоставления информации, удобства оформления заказа и пр.</li>
											</ul>
										</div>
										<a href="#" class="single-accord-toggle">Перечень работ ↓</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- list__item end -->
					
					<!-- list__item -->
					<div class="list__item">
						<div class="number">
							2.
						</div>
						<div class="info">
							<div class="title">На четвертый месяц с помощью сервисов статистики (Яндекс.Метрика, Гугл.Аналитикс) оцениваем стоимость целевого обращения (звонка, заявки) следующим образом:</div>
							<div class="list__item-content">
								<ul class="instruments navi">
									<li>Определяется процент посетителей, осуществивших звонок или заявку</li>
									<li>Делаем прогноз по увеличению целевого трафика и обращений</li>
									<li>На основании полученных данных выявляем стоимость обращения, которые на практике не превышаем 500 р</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- list__item end -->
				</div>
			</div>
			<!-- reasons end -->
			
			<div class="h3">Лидами являются:</div>
			<ul class="instruments navi">
				<li>Целевой звонок в компанию (длительностью более 30 секунд)</li>
				<li>Оформление заявки на сайте</li>
			</ul>
			<p>Подсчет количества целевых действий проводится с помощью систем статистики и абсолютно прозрачен. Таким образом, вы платите именно за результат! Повторные обращения не учитываются!!!</p>
			<div class="h3">Как происходит продвижение по лидам</div>
			<div class="leads-progress-wrap">
				<div class="leads-progress-item-wrap">
					<div class="leads-progress-item-title">Сфера влияния<br /> агентства</div>
					<div class="leads-progress-item">
						<ul class="leads-progress-item-list">
							<li><div><span>1. Перешли по рекламе на сайт</span></div></li>
							<li><div><span>2. Заинтересовались товаром
							или услугой</span></div></li>
							<li><div><span>3. Выбрали товар и добавили
							его в корзину</span></div></li>
							<li><div><span>4. Оформили заказ</span></div></li>
						</ul>
					</div>
				</div>
				<div class="leads-progress-item-wrap">
					<div class="leads-progress-item-title">Сфера влияния<br />заказчика</div>
					<div class="leads-progress-item leads-progress-item2">
						<ul class="leads-progress-item-list">
							<li><div><span>3. Оплатили и получили покупку</span></div></li>
							<li><div><span>2. Стали приверженцами компании</span></div></li>
							<li><div><span>1. Совершают покупки в дальнейшем</span></div></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="h3">Плюсы продвижения по лидам</div>
			<ul class="instruments navi">
				<li>Увеличение уровня конверсии на сайте за счет системных работ по улучшению удобства интернет-ресурса;</li>
				<li>Привлечение максимального качественного потока целевых посетителей;</li>
				<li>Оплата только за результат.</li>
			</ul>
			<div class="h3">Наши результаты</div>
			<div class="leads-page-portfolio">
				<div class="portfolio-item">
					<div class="portfolio-item-left">
						<div class="portfolio-item-logo">
							<img src="img/portfolio-logo-02.png" alt="image" />
						</div>
						<div class="portfolio-item-info">
							<div class="portfolio-item-info-title">Сумма оплаты:</div>
							<div class="portfolio-item-info-price">30 000 руб/мес</div>
						</div>
					</div>
					<div class="portfolio-item-right">
						<div class="portfolio-item-title">
							<a href="#">Интернет-магазин зоотоваров</a>
						</div>
						<div class="portfolio-item-middle">
							<img src="img/portfolio-02.png" alt="image" />
						</div>
						<div class="portfolio-item-info-town">Москва</div>
					</div>
				</div>
				<div class="portfolio-item">
					<div class="portfolio-item-left">
						<div class="portfolio-item-logo">
							<img src="img/portfolio-logo-03.png" alt="image" />
						</div>
						<div class="portfolio-item-info">
							<div class="portfolio-item-info-title">Сумма оплаты:</div>
							<div class="portfolio-item-info-price">25 000 руб/мес</div>
						</div>
					</div>
					<div class="portfolio-item-right">
						<div class="portfolio-item-title">
							<a href="#">Интернет-магазин зоотоваров</a>
						</div>
						<div class="portfolio-item-middle">
							<img src="img/portfolio-02.png" alt="image" />
						</div>
						<div class="portfolio-item-info-town">Москва</div>
					</div>
				</div>
			</div>
			<div class="button center">
				<a href="" class="waves-effect blue lighten-2 btn"><i class="icon-load"></i>Показать еще примеры</a>
			</div>
			<div class="h3">Для кого подходит данная схема работы</div>
			<ul class="instruments navi">
				<li>Корпоративные сайты (предоставляющие услуги или продукцию компании);</li>
				<li>Интернет-магазины с большим ассортиментом товаров;</li>
				<li>Различные сервисные компании (автосервисы, компании, оказывающие услуги по ремонту бытовой техники и т.д.);</li>
				<li>Банки и страховые компании;</li>
				<li>Туристические агентства;</li>
				<li>Тренинговые и консалтинговые компании;</li>
				<li>Агентства недвижимости.</li>
			</ul>
			<div class="h3">Как строится работа</div>
			<ul class="instruments navi">
				<li>Комплексный аудит интернет-проекта (поисковый, технический, юзабилити, конкурентный).</li>
				<li>Постановка целей, расчет требуемого объема лидов для достижения заданных целей.</li>
				<li>Разработка стратегии продвижения, согласования плана работ, разработка системы KPI.</li>
				<li>Модернизация ресурса на основании проведенного аудита.</li>
				<li>Установка и настройка систем веб-аналитики и учета звонков с сайта.</li>
				<li>Запуск тестовой рекламной кампании, анализ эффективности, расчет стоимости одного лида. При необходимости корректировка рекламной стратегии.</li>
				<li>Установка и настройка систем веб-аналитики и учета звонков с сайта.</li>
				<li>Генерация обращений, постоянная планомерная работа по увеличению эффективности сайта.</li>
				<li>Регулярная отчетность и подробные консультации по всем возникшим у клиента вопросам.</li>
				<li>По желанию клиента специалисты компании проведут анализ и разработают рекомендации по улучшению бизнес-процессов клиента, выстроят эффективную систему обработки входящих звонков и интегрируют сайт с CRM клиента.</li>
			</ul>
			<div class="h3">Какие инструменты задействуем</div>
			<p>Для привлечения целевых посетителей на ваш сайт мы задействуем
			такие рекламные инструменты как:</p>
			<div class="clearfix">
				<div class="col l6">
					<ul class="instruments navi">
						<li><a href="#">Продвижение сайта</a></li>
						<li><a href="#">Прайс-площадки</a></li>
						<li><a href="#">SMM</a></li>
					</ul>
				</div>
				<div class="col l6">
					<ul class="instruments navi">
						<li><a href="#">Контекстную рекламу</a></li>
						<li><a href="#">Баннерную рекламу</a></li>
						<li>и другие инструменты</li>
					</ul>
				</div>
			</div>
			<div class="h3">Как понять, что вы готовы работать по
			данной схеме</div>
			<ul class="instruments navi">
				<li>Вы готовы совместно с агентством работать на результат. Поскольку, чтобы лиды превратились в продажи, одной работы агентства недостаточно. Необходима заинтересованность и оперативность клиента. Вы согласны оперативно предоставлять нужную информацию и прислушиваться к советам специалистов агентства.</li>
				<li>Вас не удовлетворяют классические схемы оплаты за позиции или трафик. Вы хотите видеть результаты своей рекламной кампании и платить именно за них.</li>
				<li>Вы понимаете, что ваш клиентский сервис может быть неидеален. Для получения максимально результата необходимо внедрять эффективную систему обработки входящих заявок и звонков, работать с клиентским сервисом. В свою очередь, компания Latio всегда готова помочь вам в настройке эффективной системы CRM, в работе с клиентским сервисом и в других вопросах, связанных с эффективностью продаж.</li>
			</ul>
		</div>
	</div>
	<div class="button center">
		<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-btn_seo"></i>Заказать продвижение сайта</a>
	</div>
 </div>
<div class="col l3">
	<div class="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="news">
		<div class="name">
			Новости
		</div>
		<div class="box">
			<ul>
				<li>
					<div class="news_date">26 октября</div>
					<div class="news_title">
						<a href="#">Три сопсоба вернуть клиента</a>
					</div>
					<div class="news_content">
						Искусство медиапланирования, безусловно, настроено позитивно. Конвесия покупателя усиливает нишевый проект, используя опыт предыдущих кампаний. Поэтому пул лояльных изданий обычно правомочен...
					</div>
				</li>
				<li>
					<div class="news_date">1 сентября</div>
					<div class="news_title">Новости от команды Яндекс.Поиск</div>
					<div class="news_content">Стратегическое планирование, не меняя концепции, изложенной выше, решительно усиливает нишевый проект, работая над проектом. Охват аудитории реально продуцирует эмпирический инвестиционный продукт.</div>
				</li>
			</ul>
			<a href="#" class="right">Смотреть все</a>
		</div>
	</div>
	<div class="blog">
		<div class="name">Публикации в блоге</div> <a href="" class="rss"><i class="icon-rss"></i></a>
		<div class="box">
			<ul>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">3 способа повысить конверсию, которые стоит проверить</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Как три бьюти-бренда преуспели
в e-commerce (полезные советы)</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Почему картинки из Instagram
повышают читаемость вашей
email-рассылки (ИНФОГРАФИКА)</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Презентация, которую дочитают
до конца</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">10 способов продвинуть молодой
сайт в условиях Минусинска</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Новый конкурс от Яндекса
«Естественная ссылка — 2015».
Покажите своё естество!</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">RACE 2015: встречаемся с
оптимизмом!</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Разделяй и властвуй: правила
эффективной сегментации</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Оптимизм приглашает на
"Электронную торговлю 2015»</a>
					</div>
				</li>
				<li>
					<div class="blog_date right-align">26 октября 2015</div>
					<div class="blog_name">
						<a href="">Смайлику - 33!</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
  </div>
 </div>
 </div>
