<div class="wrap optimization">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">Дополнительные услуги</h1>
		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Дополнительные услуги</span></li>
</ul>
</div>
</div>

<div class="col l12">
<div class="content">
<div class="row">
<div class="col l12">
<p>
	Компания «Скобеев и Партнеры» - это команда экспертов в области продвижения в сети Интернет. Работа с нами — это гарантия результатов продвижения сайта, лучшие условия на рынке и высококачественный сервис. Получив запрос, наши маркетологи в течение суток составят индивидуальное предложение, учитывающее особенности Вашего бизнеса.<br>
Мы не занимаемся обычным SEO, мы учим сайты наших клиентов приносить прибыль.
</p>
  <div class="row">
    <div class="col s12">
      <ul class="tabs catalog">
        <li class="tab col s3"><a class="active" href="#test1">Виды услуг</a></li>
        <li class="tab col s3"><a  href="#test2">Решения для бизнеса</a></li>
        <li class="tab col s3"><a href="#test3">Решения по типам сайтов</a></li>
        <li class="tab col s3"><a href="#test4">Дополнительные услуги</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12 sevices">
    	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_1.png" alt="">
    			</div>
    			<a href="">Оптимизация сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    			<div class="dop">
    			<p>msadsdasdasdasdas</p>
    				<p>msadsdasdasdasdas</p>
    			</div>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_2.png" alt="">
    			</div>
    			<a href="">SEO аудит сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 15 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/sevr_3.png" alt="">
    			</div>
    			<a href="">Юзабилити аудит сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 20 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_4.png" alt="">
    			</div>
    			<a href="">SMM</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 25 000 руб.
    			</span>
    		</div>
    		</div>
    	</div>
    	  	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_5.png" alt="">
    			</div>
    			<a href="">Копирайтинг</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_6.png" alt="">
    			</div>
    			<a href="">Стратегия и Консалтинг</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 15 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_7.png" alt="">
    			</div>
    			<a href="">Увеличение конверсии</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 20 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_8.png" alt="">
    			</div>
    			<a href="">Сплит-Тестирование</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 25 000 руб.
    			</span>
    		</div>
    		</div>
    	</div>
    	  	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_9.png" alt="">
    			</div>
    			<a href="">Веб аналитика</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_10.png" alt="">
    			</div>
    			<a href="">Создание сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 15 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_11.png" alt="">
    			</div>
    			<a href="">Контекстная реклама</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 20 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_12.png" alt="">
    			</div>
    			<a href="">Медийная реклама</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 25 000 руб.
    			</span>
    		</div>
    		</div>
    	</div>
    	  	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_13.png" alt="">
    			</div>
    			<a href="">Лидогенерация</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div> 	
    	</div>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12 sevices">
    <div class="row">
	<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_14.png" alt="">
    			</div>
    			<a href="">Продвижение интернет-магазинов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
	<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_15.png" alt="">
    			</div>
    			<a href="">Продвижение информационных сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>

    			<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_16.png" alt="">
    			</div>
    			<a href="">Продвижение новостных сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    			<div class="dop">
    				1212
    			</div>
    		</div>
    		</div>
			<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_17.png" alt="">
    			</div>
    			<a href="">Продвижение коммерческих сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
</div>
<div class="row">
	<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_18.png" alt="">
    			</div>
    			<a href="">Продвижение корпоративных сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 30 000 руб.
    			</span>
    		</div>
    		</div>
    			<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_19.png" alt="">
    			</div>
    			<a href="">Продвижение крупных сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 35 000 руб.
    			</span>
    			<div class="dop">
    				1212
    			</div>
    		</div>
    		</div>
    			<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_20.png" alt="">
    			</div>
    			<a href="">Продвижение молодых сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 40 000 руб.
    			</span>
    		</div>
    		</div>
</div>
    </div>
     <div id="test4" class="col s12 sevices">
    	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_1.png" alt="">
    			</div>
    			<a href="">Оптимизация сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_2.png" alt="">
    			</div>
    			<a href="">SEO аудит сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 15 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/sevr_3.png" alt="">
    			</div>
    			<a href="">Юзабилити аудит сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 20 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_4.png" alt="">
    			</div>
    			<a href="">SMM</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 25 000 руб.
    			</span>
    		</div>
    		</div>
    	</div>
    	  	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_5.png" alt="">
    			</div>
    			<a href="">Копирайтинг</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_6.png" alt="">
    			</div>
    			<a href="">Стратегия и Консалтинг</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 15 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_7.png" alt="">
    			</div>
    			<a href="">Увеличение конверсии</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 20 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_8.png" alt="">
    			</div>
    			<a href="">Сплит-Тестирование</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 25 000 руб.
    			</span>
    		</div>
    		</div>
    	</div>
    	  	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_9.png" alt="">
    			</div>
    			<a href="">Веб аналитика</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_10.png" alt="">
    			</div>
    			<a href="">Создание сайтов</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 15 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_11.png" alt="">
    			</div>
    			<a href="">Контекстная реклама</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 20 000 руб.
    			</span>
    		</div>
    		</div>
    		<div class="col l3 service_item center">
    			<div class="box">
    			<div class="image nb">
    				<img src="img/serv_12.png" alt="">
    			</div>
    			<a href="">Медийная реклама</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 25 000 руб.
    			</span>
    		</div>
    		</div>
    	</div>
    	  	<div class="row">
    		<div class="col l3 service_item center">
    		<div class="box">
    			<div class="image nb">
    				<img src="img/serv_13.png" alt="">
    			</div>
    			<a href="">Лидогенерация</a>
    			<p>
    				Это продвижение по определенной выборке запросов, входящих в семантическое ядро
    			</p>
    			<span class="price">
    				от 10 000 руб.
    			</span>
    		</div>
    		</div> 	
    	</div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


