<div class="wrap optimization">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h1 class="center heading-title">ЮЗАБИЛИТИ</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Продвижение сайтов</a></li>
                        <li><span>Юзабилити</span></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 rel">
                <div class="slide__nav" id="navigation_vert">
                    <ul>
                        <li>
                            <a class="seo_ic" href="#">
                                <span>Продвижение сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="leads_ic" href="#">
                                <span>Лидогенерация</span>
                            </a>
                        </li>
                        <li>
                            <a class="reklama_ic" href="#">
                                <span>Интернет-реклама</span>
                            </a>
                        </li>
                        <li>
                            <a class="site_ic" href="#">
                                <span>Создание сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="analitic_ic" href="#">
                                <span>Веб-аналитика</span>
                            </a>
                        </li>
                        <li>
                            <a class="support_ic" href="#">
                                <span>Аналитическая поддержка</span>
                            </a>
                        </li>
                        <li>
                            <a class="strategy_ic" href="#">
                                <span>Стратегия и консалтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="copy_ic" href="#">
                                <span>Копирайтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="conversy_ic" href="#">
                                <span>Увеличение конверсии</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l8">
                <div class="content">
                    <div class="row">
                        <div class="col l12">
                            <div class="image nb">
                                <img src="img/usability.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <div class="h3">Юзабилити</div>
                           <div class="usability">
                            <div class="inner">
                                <i class="icon-usab_men"></i>
                                <div class="inner_text">
                                    <p>Сайт ― инструмент общения с клиентами и инструмент продаж, который должен работать безупречно и быть удобным для пользователей. Это удобство определяется юзабилити.</p>
                                    <p>Ведущие аналитики агентства «Latio» изучат ваш интернет-проект и предоставят полный отчет о том, почему низкий процент конверсии посетителей сайта в клиенты, насколько быстро посетитель может найти нужную информацию, как повысить эффективность сайта, какие страницы сайта являются сложными для восприятия, как функционируют сервисы и др.
                                    </p>
                                </div>
                            </div>
                           </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <div class="h3">Что такое юзабилити?</div>
                            <p>Юзабилити ― это удобная структура сайта, простое и понятное использование, дополнительный функционал, который расширяет возможности по его использованию. Все это должно быть сведено в единое целое так, чтобы пользователю на сайте было комфортно.</p>
                            <p>Например, исследования интернет-магазинов помогут выявить следующие факторы:</p>
                            <div class="usability_list">
                                <div class="list_item">
                                    <i class="icon-usability_well"></i>
                                    <div class="text">
                                        <p>Эффективность работы сервисов. Легко ли найти, заказать и оплатить товар, а также контактную информацию для связи с менеджерами интернет-магазина.</p>
                                    </div>
                                </div>
                                <div class="list_item">
                                    <i class="icon-usability_block"></i>
                                    <div class="text">
                                        <p>Удобство пользования навигацией. Понятно ли пользователю, как перемещаться между разделами, выбирать категории товаров, задавать параметры поиска конкретного товара.</p>
                                    </div>
                                </div>
                                <div class="list_item">
                                    <i class="icon-usability_analiz"></i>
                                    <div class="text">
                                        <p>Анализ главной и других страниц сайта. Содержится ли на них необходимая пользователю информация, способствует ли она переходам на другие страницы, как влияет реклама на посетителя.</p>
                                    </div>
                                </div>
                                <div class="list_item">
                                    <i class="icon-usability_book"></i>
                                    <div class="text">
                                        <p>Проверка качества текстов. Насколько интересная, полезная и актуальная для пользователя информация содержится на страницах. Рекомендации по использованию привлекательных продающих заголовков, структуре текстов и их форматированию.</p>
                                    </div>
                                </div>
                                <div class="list_item">
                                    <i class="icon-usability_speed"></i>
                                    <div class="text">
                                        <p>Правильность отображения и скорость загрузки сайта в разных браузерах.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <div class="h3">Зачем работать с юзабилити?</div>
                            <p>Необходимо выделить две основные выгоды работы с юзабилити:</p>
                            <ol class="numerical">
                                <li>Для клиента. Хорошее юзабилити ― это удобная работа с сайтом, что позволяет эффективнее привлекать целевую аудиторию, а заодно положительно влиять на имидж компании.
                                </li>
                                <li>
                                    Для поисковиков. Они также оценивают уровень юзабилити. Нормальное юзабилити — лучшие результаты продвижения. Таким образом, работа с юзабилити ― это обязательная часть оптимизации ресурса.
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col l12">
                            <div class="h3">Почему юзабилити нужно заказывать у нас?</div>
                            <p>Агентство «Latio» имеет в своей команде профессиональных аналитиков, специалистов по работе с юзабилити, с многолетним опытом и своими технологиями.</p>
                            <p>Нашим клиентам мы предоставляем: индивидуальные рекомендации по каждой из страниц сайта с учетом специфики бизнес-проекта, полную оценку юзабилити в виде подробного отчета. Мы работаем оперативно и качественно, по доступной цене.</p>
                            <p>Заказать услугу юзабилити сайта, узнать о сроках и стоимости можно, позвонив менеджерам «Latio» по телефону 8 (495) 797-96-89.</p>
                            <p>Также вы можете заказать у нас <a href="">аудит сайта</a>.</p>
                            <p>
                                Работа с «Latio» ― это комфорт и эффективность!<br>
                                Вас может заинтересовать: <a href="">создание</a> и <a href="">оптимизация</a> сайта.
                            </p>
                        </div>
                    </div>
                    <div class="button center">
                        <a href="" class="waves-effect yellow darken-5 btn"><i class="icon-btn_seo"></i>Заказать юзабилити - тест</a>
                    </div>
                </div>
            </div>
            <div class="col l3 rel">
                <div class="request" id="request">
                    <div class="name">Заявка на услуги</div>
                    <div class="box">
                        <div class="form">
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Адрес сайта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваше имя">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Вашa почта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                    <div class="input-field col s12 push">
                                        <div class="row">
                                            <div class="col l3">
                                                <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked>
                                                    <span class="switch-label" data-on="Да" data-off="Нет"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="col l9">
                                                Хочу быть в курсе трендов
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 center">
                                        <input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>