<div class="wrap optimization">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h1 class="center heading-title">СКИДКИ ОТ СУММЫ ЗАКАЗА!</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Продвижение сайтов</a></li>
                        <li><span>Скидки от суммы заказа</span></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 rel">
                <div class="slide__nav" id="navigation_vert">
                    <ul>
                        <li>
                            <a class="seo_ic" href="#">
                                <span>Продвижение сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="leads_ic" href="#">
                                <span>Лидогенерация</span>
                            </a>
                        </li>
                        <li>
                            <a class="reklama_ic" href="#">
                                <span>Интернет-реклама</span>
                            </a>
                        </li>
                        <li>
                            <a class="site_ic" href="#">
                                <span>Создание сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="analitic_ic" href="#">
                                <span>Веб-аналитика</span>
                            </a>
                        </li>
                        <li>
                            <a class="support_ic" href="#">
                                <span>Аналитическая поддержка</span>
                            </a>
                        </li>
                        <li>
                            <a class="strategy_ic" href="#">
                                <span>Стратегия и консалтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="copy_ic" href="#">
                                <span>Копирайтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="conversy_ic" href="#">
                                <span>Увеличение конверсии</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l8">
                <div class="content">
                    <div class="row">
                        <div class="col l12 sprice">
                            <p>Мы предлагаем нашим клиентам внушительные скидки на продвижение Вашего сайта, в зависимости от общей суммы заказа наших услуг за учетный месяц:</p>
                            <table class="striped">
                                <thead>
                                <tr>
                                    <td>Сумма заказа</td>
                                    <td class="center">Скидка</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>от 50 000 до 75 000 руб</td>
                                    <td class="color-green">5%</td>
                                </tr>
                                <tr>
                                    <td>от 75 000 до 100 000 руб</td>
                                    <td class="color-green">7%</td>
                                </tr>
                                <tr>
                                    <td>от 100 000 до 125 000 руб</td>
                                    <td class="color-green">10%</td>
                                </tr>
                                <tr>
                                    <td>от 125 000 до 150 000 руб</td>
                                    <td class="color-green">12%</td>
                                </tr>
                                <tr>
                                    <td>от 150 000 до 200 000 руб</td>
                                    <td class="color-green">15%</td>
                                </tr>
                                <tr>
                                    <td>от 200 000 до 300 000 руб</td>
                                    <td class="color-blue">20%</td>
                                </tr>
                                <tr>
                                    <td>от 300 000 до 500 000 руб</td>
                                    <td class="color-blue">25%</td>
                                </tr>
                                <tr>
                                    <td>от 500 000 руб</td>
                                    <td class="color-red">30%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 rel">
                <div class="request" id="request">
                    <div class="name">Заявка на услуги</div>
                    <div class="box">
                        <div class="form">
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Адрес сайта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваше имя">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Вашa почта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                    <div class="input-field col s12 push">
                                        <div class="row">
                                            <div class="col l3">
                                                <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked>
                                                    <span class="switch-label" data-on="Да" data-off="Нет"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="col l9">
                                                Хочу быть в курсе трендов
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 center">
                                        <input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>