<div class="wrap optimization">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h1 class="center heading-title">ГАРАНТИИ</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Продвижение сайтов</a></li>
                        <li><span>Гарантии</span></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 rel">
                <div class="slide__nav" id="navigation_vert">
                    <ul>
                        <li>
                            <a class="seo_ic" href="#">
                                <span>Продвижение сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="leads_ic" href="#">
                                <span>Лидогенерация</span>
                            </a>
                        </li>
                        <li>
                            <a class="reklama_ic" href="#">
                                <span>Интернет-реклама</span>
                            </a>
                        </li>
                        <li>
                            <a class="site_ic" href="#">
                                <span>Создание сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="analitic_ic" href="#">
                                <span>Веб-аналитика</span>
                            </a>
                        </li>
                        <li>
                            <a class="support_ic" href="#">
                                <span>Аналитическая поддержка</span>
                            </a>
                        </li>
                        <li>
                            <a class="strategy_ic" href="#">
                                <span>Стратегия и консалтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="copy_ic" href="#">
                                <span>Копирайтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="conversy_ic" href="#">
                                <span>Увеличение конверсии</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l8">
                <div class="content">
					<div class="guarantee-page">
						<div class="row">
							<div class="col l12">
								<div class="guarantee-items">
									<div class="guarantee-item">
										<div class="guarantee-item-top">
											<div class="guarantee-item-title">Факт</div>
											<div class="guarantee-item-number">№1</div>
										
										</div>
										<div class="guarantee-item-content">
											<div class="guarantee-item-image">
												<img src="img/guarantee-01.png" alt=""/>
											</div>
											<div class="guarantee-item-text">Гарантии презентуемые на «витрине» меняют свой облик, будучи описанными в <strong>договоре</strong>.</div>
										</div>
									</div>
									<div class="guarantee-item">
										<div class="guarantee-item-top">
											<div class="guarantee-item-title">Факт</div>
											<div class="guarantee-item-number">№2</div>
										
										</div>
										<div class="guarantee-item-content">
											<div class="guarantee-item-image">
												<img src="img/guarantee-02.png" alt=""/>
											</div>
											<div class="guarantee-item-text">
												<p><strong>Компании, которые давали гарантии:</strong></p>
												<ol>
													<li>Изменили финансовую политику (перестали их давать).</li>
													<li>Находятся на грани вымирания.</li>
													<li>Перестали существовать.</li>
												</ol>
											</div>
										</div>
									</div>
									<div class="guarantee-item">
										<div class="guarantee-item-top">
											<div class="guarantee-item-title">Факт</div>
											<div class="guarantee-item-number">№3</div>
										
										</div>
										<div class="guarantee-item-content">
											<div class="guarantee-item-image">
												<img src="img/guarantee-03.png" alt=""/>
											</div>
											<div class="guarantee-item-text">Обязательство по возврату происходили за всю историю только через суд.<br /> Как показывает практика, в 90% случаев суд принимает позицию компании-исполнителя. <strong>Почему?</strong> (см. факт №1)</div>
										</div>
									</div>
								</div>
							
								<div class="h4">Если вам дают гарантии</div>
								<p>Ни один серьезный профессионал никогда не будет давать гарантий в тех случаях, когда он объективно не может стопроцентно контролировать результат. Такие гарантии фактически можно назвать обманом клиента.<br />
								Если вам предлагают услуги по продвижению сайта с гарантией результата – это серьезный повод усомниться в компетенции такого исполнителя.</p>
								<blockquote>Зачастую обещания гарантированного результата являются дешевым способом привлечения клиентов, который применяется оптимизаторами без опыта и портфолио. Говорить о каких-либо реальных гарантиях в подобных случаях просто смешно.</blockquote>
								<p>Еще хуже могут быть последствия, когда оптимизатор применяет «черные» и «серые» методы продвижения. В этом случае клиенту могут показать быстрый результат, однако через какое-то время сайт попадает в «бан» поисковиков, из которого зачастую бывает очень сложно выбраться или не выбраться вовсе.</p>
								<div class="h4">Что гарантируем мы</div>
								<p>Наша студия строит отношения с клиентами на основе честного партнерства. Мы не даем пустых обещаний гарантированного вывода сайтов в топ в конкретные сроки. Однако мы можем гарантировать каждому своему клиенту нечто другое. Мы гарантируем:</p>
								<ul class="disc-style">
									<li><span>высокий профессионализм и большой опыт каждого специалиста, занятого в работе над вашим сайтом,</span></li>
									<li><span>отличное знание требований СЕО и четкое понимание механизма эффективной раскрутки сайтов,</span></li>
									<li><span>ответственное отношение и грамотный подход к продвижению с использованием только «белых» способов,</span></li>
									<li><span>полную прозрачность на каждом из этапов работы.</span></li>
								</ul>
								<p>Благодаря этому, нам практически всегда удается достигать высоких результатов для наших клиентов.</p>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="col l3 rel">
                <div class="request" id="request">
                    <div class="name">Заявка на услуги</div>
                    <div class="box">
                        <div class="form">
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Адрес сайта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваше имя">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Вашa почта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                    <div class="input-field col s12 push">
                                        <div class="row">
                                            <div class="col l3">
                                                <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked>
                                                    <span class="switch-label" data-on="Да" data-off="Нет"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="col l9">
                                                Хочу быть в курсе трендов
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 center">
                                        <input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>