<div class="wrap optimization">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">ПРОДВИЖЕНИЕ САЙТОВ В GOOGLE</h1>
		<div class="filter">
			<a href="" >молодых</a>
			<a href="">по трафику</a>
			<a href="">по словам</a>
			<a href="">комплексное</a>
			<a href="">статьями</a>
			<a href="">в ТОП10 Яндекса</a>
			<a href="" class="active">в Google</a>
			<a href="">интернет-магазинов</a>
			<a href="">недорогое</a>
			<a href="">порталов</a>
			<a href="">по кликам</a>
			<a href="">по позициям</a>
			<a href="">по регионам</a>
			<a href="">по России</a>
		</div>
		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Продвижение сайтов в Google</span></li>
</ul>
		</div>
	</div>
		<div class="col l1 rel">
			<div class="slide__nav" id="navigation_vert">
				<ul>
					<li>
					<a class="seo_ic" href="#">
					<span>Продвижение сайтов</span>
					</a>
					</li>
					<li>
						<a class="leads_ic" href="#">
					<span>Лидогенерация</span>
					</a>
					</li>
					<li>
						<a class="reklama_ic" href="#">
					<span>Интернет-реклама</span>
					</a>
					</li>
					<li>
						<a class="site_ic" href="#">
					<span>Создание сайтов</span>
					</a>
					</li>
					<li>
						<a class="analitic_ic" href="#">
					<span>Веб-аналитика</span>
					</a>
					</li>
					<li>
						<a class="support_ic" href="#">
					<span>Аналитическая поддержка</span>
					</a>
					</li>
					<li>
						<a class="strategy_ic" href="#">
					<span>Стратегия и консалтинг</span>
					</a>
					</li>
					<li>
						<a class="copy_ic" href="#">
					<span>Копирайтинг</span>
					</a>
					</li>
					<li>
						<a class="conversy_ic" href="#">
					<span>Увеличение конверсии</span>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col l8">
		<div class="content">
<div class="row">
	<div class="col l12">
		<div class="h3">Продвижение в Google</div>
		<p>В этот раз стоит затронуть тему продвижение сайта в Google. Потому, что Google является второй поисковой системой по популярности. И большая часть посетителей это продвинутые пользователи.</p>
		<p class="border">Многие почему-то пытаются <a href="">оптимизировать сайт под Яндекс</a> и при этом забывают особенности Гугл, тем самым теряют часть поискового трафика 30-40% в среднем. Именно поэтому стоит отметить 10 особенностей сео продвижение сайта в Google, которые отличают его от других поисковиков.</p>
		<div class="image">
			<img src="img/google.png" alt="">
		</div>
		<div class="button center">
			<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-online"></i>Оставить предварительный заказ ONLINE</a>
		</div>
	</div>	
	</div>
<div class="row border">
	<div class="col l12">
		<div class="h3">Особенности продвижения сайта в Google – 10 советов</div>
		<p><b>1. Большой текст</b></p>
		<p>Google прекрасно индексирует большие тексты. Поисковый робот, индексируя страницу, не уделяет должного внимания уникальности картинок. Так же не обращает внимания на грамматические ошибки. Оптимальное количество символов с пробелами 3 000 – 10 000 или же 500 слов и более.</p>
		<p><b>2. Ключевые слова</b></p>
		<p>Гугл любит многократное <a href="">повторение ключевых слов</a> в тексте. После недавних изменений, плотность ключевых слов в тексте должна быть 3-8%. Когда-то цифры были 5-12% что бы выбиться в топ без нароста ссылочной массы. При этом, самые эффективные места для ключей, являются сразу под тегами h1 и h2 (под заголовками), а так же в конце текста.</p>
		<p><b>3. Обширная перелинковка</b></p>
		<p>Любит большое количество ссылок в тексте, отдаёт предпочтение <a href="">внутренней перелинковки</a>. Но индексирует лишь первую ссылку в тексте. Она передаёт больше веса, если стоит в самом начале текста. Поэтому старайтесь ставить первую ссылку на внутреннюю страницу вашего сайта, которую собираетесь продвинуть в топ.</p>
		<p><b>4. Социальные сигналы</b></p>
		<p>Поисковик очень тесно дружит с социальными сетями, поэтому индексирует страницы из социальных сетей. Для продвижения сайта в Google следует иметь, share buttons (кнопка поделиться).
Чем больше делятся вашей страницей в социальных сетях, тем выше ранжируется страница в поисковой выдаче. Так же сигнал поисковой системе дают комментарии и лайки на сайте от социальных сетей. Ну и конечно на продвижение влияет имением групп и подписчиков в 3 ёх основных социальных сетях.</p>
<p>Стоит знать, что только 3 социальных сети индексируются в Гугл, соответственно, именно они дают сигнал поисковой системе. Это <a href="">Facebook</a>, <a href="">Twitter</a> и <a href="">Google Plus</a>. Не так давно тестировал ещё Tumblr, но там особого эффекта нету, если только создать пост и оставить ссылку на страницу.
</p>
<p><b>5. Обновления сайта</b></p>
<p>Так как поисковые роботы бродят по сайту каждый день в поисках обновлений, поэтому ценятся больше те сайты, на которых есть ежедневные обновления. К примеру, на новостных сайтах скорость индексации всегда ограничивается дестью минутами.
Но простым же сайтам рекомендуется обновлять контент не реже, чем 2 раза в неделю. Да и кол-во страниц в индексе так же положительно сказываются, благодаря общему увеличению веса сайта.</p>
<p><b>6. Формирования сниппета</b></p>
<p>Сниппет формируется из того текста, который вы составите для него. Это даёт большой плюс перед другими поисковиками. Дополнительно формируются сниппеты из тегов h2, а описание берётся под ключевые слова из текста. Для управления описанием, стоит выделять ключевые слова в тексте, при чем не играет роли как их выделять.</p>
<p><b>7. Ссылочная масс</b></p>
<p>Все знают, что простым путем продвинуть страницу, это закупить на неё ссылок. При этом не важно, ссылки были с тематических ресурсов или нет. Самое главное анкор ссылки и окружающий её текст. Любит больше прямые ссылки, то есть по виду <a href="">http://latio.ru</a>. Считаются более эффективными, чем с <a href="">ключевым словом в анкоре</a>.</p>
<p><b>8. Поведенческий фактор</b></p>
<p>Поведенческие факторы становятся основой в поисковых системах. То есть, если вы попали в топ и у вас большое количество отказов, то страница быстро потеряет свои позиции. Вот несколько совет по <a href="">продвижению поведенческими факторами</a>.</p>
<p><b>9. PR присуждается отдельно каждой странице</b></p>
<p>Page rank – это вес одной страницы. Каждая страница имеет свой показатель PR, а ТИЦ даётся всему сайту. Поэтому, если хотите, что бы у вашего сайта был для вида 1 PR, то в статьях вы должны ставить ссылку на главную страницу. И эта ссылка должна быть первой в тексте и как можно ближе к началу текста. Именно такими действиями можно набивать PR отдельным страницам.</p>
<p><b>10. Возраст сайта</b></p>
<p>Возраст сайта не играет большой роли, так как в первую очередь идет оценка страницы, а не сайта в целом. Поэтому если сайту 1-2 месяца, он уже может пробиться в топ по серьёзным ключевым словам.</p>
<p>Это были 10 советов о продвижение сайта в Google, а точнее 10 особенностей от других поисковых систем. В добавок держите хороший вебинар Александра Митника по продвижению под Google.</p>
	</div>
</div>

<div class="button center">
	<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-btn_seo"></i>Заказать продвижение сайта</a>
</div>
	</div>
</div>
		<div class="col l3 rel">
				<div class="request" id="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
	</div>
		
	</div>
</div>