<div class="wrap">
	<div class="container">
	<div class="row">
	<div class="col l12">
		<h1 class="center heading-title">Лидогенерация</h1>
		<div class="filter">
			<a href="">CPA модель</a>
			<a href="">CPS модель</a>
			<a href="">CPL модель</a>
			<a href="">Система веб-аналитики</a>
			<a href="">Call Tracking</a>
		</div>
		<div class="breadcrumbs">
<ul>
	<li><a href="">Главная</a></li>
	<li><a href="">Продвижение сайтов</a></li>
	<li><span>Лидогенерация</span></li>
</ul>
		</div>
	</div>
		<div class="col l1 rel">
			<div class="slide__nav" id="navigation_vert">
				<ul>
					<li>
					<a class="seo_ic" href="#">
					<span>Продвижение сайтов</span>
					</a>
					</li>
					<li>
						<a class="leads_ic" href="#">
					<span>Лидогенерация</span>
					</a>
					</li>
					<li>
						<a class="reklama_ic" href="#">
					<span>Интернет-реклама</span>
					</a>
					</li>
					<li>
						<a class="site_ic" href="#">
					<span>Создание сайтов</span>
					</a>
					</li>
					<li>
						<a class="analitic_ic" href="#">
					<span>Веб-аналитика</span>
					</a>
					</li>
					<li>
						<a class="support_ic" href="#">
					<span>Аналитическая поддержка</span>
					</a>
					</li>
					<li>
						<a class="strategy_ic" href="#">
					<span>Стратегия и консалтинг</span>
					</a>
					</li>
					<li>
						<a class="copy_ic" href="#">
					<span>Копирайтинг</span>
					</a>
					</li>
					<li>
						<a class="conversy_ic" href="#">
					<span>Увеличение конверсии</span>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col l8">
		<div class="content">
			<div class="row">
				<div class="col l12">
						<div class="h3">Лидогенерация — Ваш поставщик клиентов!</div>
						<div class="info item left">
							<p><b>Лидогенерация</b> — это привлечение клиентов.</p>
							<p><b>Лид</b> — информация о клиенте, который готов купить у вас товар или заказать услугу. Если клиент узнал о вашей компании в интернете, зашел на ваш сайт, оставил там заявку или позвонил — значит, вы получили лид.</p>
							<p>Самые распространенные способы лидогенерации: <a href="">SEO</a>-продвижение, <a href="">SMM</a>, <a href="">контекстная</a> и медийная реклама, e-mail-маркетинг и др.</p>
						</div>
						<div class="image item right">
							<img src="img/leadgen.png" alt="">
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col l12">
					<div class="h3">Почему компаниям нравится использовать лидогенерацию для увеличения продаж?</div>
					<div class="list">
						<div class="list__item">
							<div class="number">
								1
							</div>
							<div class="text">
								<b>Выгодная схема оплаты.</b> Вы платите агентству по лидогенерации вознаграждение за привлеченных целевых клиентов. Поэтому интернет-компания заинтересована дать вам как можно больше лидов, чтобы получить большую прибыль. Как видим, такая схема оплаты выгодна обеим сторонам. Поэтому лидогенерация постепенно вытесняет отдельные услуги по ведению контекстной рекламы: SMM, SEO и другие. К тому же, затраты на привлечение клиентов через интернет сравнительно невысоки, что делает лидогенерацию особенно выгодной для небольших и средних компаний.
							</div>
						</div>
							<div class="list__item">
							<div class="number">
								2
							</div>
							<div class="text">
								<b>Возможность точно измерять эффективность лидогенерации и сокращать бюджет на интернет-маркетинг.</b>  Для анализа лидов, подсчета их количества и оценки качества любое серьезное агентство по лидогенерации использует call-tracking и специальные аналитические системы. Использование этих технологий позволяет сделать сотрудничество с клиентом максимально прозрачным. Например, если звонок нецелевой, Вы всегда можете доказать это благодаря аудиозаписи, и не платить за него агентству. Другое важное преимущество — с помощью <a href="">call-tracking</a> и продвинутых <a href="">систем веб-аналитики</a> можно сократить затраты на продвижение и рекламу в 2-3 раза. Поэтому если агентство по лидогенерации интуитивно подсчитывает и анализирует лиды, не предоставляя точной и детальной информации, то стоит усомниться в его профессионализме.
							</div>
						</div>
							<div class="list__item">
							<div class="number">
								3
							</div>
							<div class="text">
								<b>Комплексный подход.</b> Заказывая лидогенерацию, Вы получаете целый комплекс услуг, каждая из которых по отдельности обошлась бы вам намного дороже. Это грамотная работа с каналами трафика и улучшение продающих качеств вашего сайта, веб-аналитика и конкурентный анализ, консалтинг по вопросам интернет-маркетинга и многое другое. Профессиональное агентство по лидогенерации становится для вас надежным партнером, благодаря которому ваш бизнес развивается и растет.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3">Соберите свою модель CPA-маркетинга</div>
					<div class="model">
						<p>Мы подстраиваем свою работу под особенности каждого из наших клиентов. Давайте оптимизируем ее под ваш проект.</p>
						<p><b>1. Выберите целевое действие</b></p>
						<p>СРА - это работа за целевое действие, и оно может быть любым - заявка, заказ товара, звонок, регистрация, подписка, скачивание прайс-листа, заполнение анкеты и т.д. Подумайте - что подходит для вашего проекта?</p>
						<p><b>2. Выберите, откуда к вам придут клиенты</b></p>
						<p>Мы используем самые разные рекламные источники - партнерские сети сайтов, контекстную рекламу в Яндекс.Директ, Google.Adwords и Бегун, рекламу в сообществах, приложениях, тизерных сетях и др. Наш специалист подскажет, что именно в вашем случае будет работать лучше всего.</p>
						<p><b>3. Выберите, каким будет оборот вашей кампании</b></p>
						<p>Какой тариф вам больше подходит - с меньшим бюджетом и эффектом - или с большим оборотом и, как следствие, прибылью? Выберите свой вариант:</p>
						<table class="responsive-table">
							<thead>
								<tr>
									<td>Silver</td>
									<td>Gold</td>
									<td>Premium</td>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>1-CPA сеть</td>
								<td>До 5 CPA сетей</td>
								<td>До 10 CPA сетей</td>
								</tr>
								<tr>
								<td>Оборот рекламной кампании 
от 200 000 руб. в месяц
</td>
								<td>Оборот рекламной кампании 
от 1 млн руб. в месяц
</td>
								<td>Оборот рекламной кампании 
от 3 млн. руб. в месяц
</td>
								</tr>
							</tbody>
						</table>
						<div class="table">
						<ul>
							<li>Юзабилити-аудит сайта или целевой страницы;</li>
							<li>Выбор концепции и целевых действий;</li>
							<li>Расчет стоимости целевого действия;</li>
							<li>Изготовление рекламных материалов;</li>
							<li>Интеграция с CPA-сетями;</li>
							<li>Настройка счетчиков статистики;</li>
							<li>Подключение и настройка системы LeadoCall;</li>
							<li>Настройка кампании в CPA-сетях;</li>
							<li>Еженедельная и ежемесячная отчетность.</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col l12">
					<div class="h3 center">
						Начнем работу?
					</div>
					<div class="button center">
						<a href="" class="waves-effect yellow darken-5 btn analitics"><i class="icon-btn_seo"></i>Заказать продвижение сайта</a>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="col l3 rel">
				<div class="request">
		<div class="name">Заявка на услуги</div>
		<div class="box">
			<div class="form">
				<form action="#">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" placeholder="Адрес сайта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Вашa почта">
						</div>
						<div class="input-field col s12">
							<input type="text" placeholder="Ваш телефон">
						</div>
						<div class="input-field col s12 push">
						<div class="row">
													<div class="col l3">
							<label class="switch switch-green">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Да" data-off="Нет"></span>
      <span class="switch-handle"></span>
    </label>
					</div>
		<div class="col l9">
			Хочу быть в курсе трендов
		</div>
						</div>

						</div>
						<div class="input-field col s12 center">
							<input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
	</div>
		
	</div>
</div>