<div class="wrap optimization">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h1 class="center heading-title">КОПИРАЙТИНГ</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Продвижение сайтов</a></li>
                        <li><span>Копирайтинг</span></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 rel">
                <div class="slide__nav" id="navigation_vert">
                    <ul>
                        <li>
                            <a class="seo_ic" href="#">
                                <span>Продвижение сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="leads_ic" href="#">
                                <span>Лидогенерация</span>
                            </a>
                        </li>
                        <li>
                            <a class="reklama_ic" href="#">
                                <span>Интернет-реклама</span>
                            </a>
                        </li>
                        <li>
                            <a class="site_ic" href="#">
                                <span>Создание сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="analitic_ic" href="#">
                                <span>Веб-аналитика</span>
                            </a>
                        </li>
                        <li>
                            <a class="support_ic" href="#">
                                <span>Аналитическая поддержка</span>
                            </a>
                        </li>
                        <li>
                            <a class="strategy_ic" href="#">
                                <span>Стратегия и консалтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="copy_ic" href="#">
                                <span>Копирайтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="conversy_ic" href="#">
                                <span>Увеличение конверсии</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l8">
                <div class="content">
					<div class="copywriting-page">
						<div class="row border">
							<div class="col l12">
								<div class="image nb right">
									<img src="img/copywriting-01.png" alt=""/>
								</div>
								<div class="h3">КОПИРАЙТИНГ</div>
								<p>Текст на вашем сайте — это виртуальный продавец. Он общается с целевой аудиторией 24 часа в сутки, 7 дней в неделю.</p>
								<p>Текст продаёт товары, предлагает услуги, рассказывает интересные факты, нейтрализует возражения, продвигая потенциальных клиентов дальше по воронке продаж — с первой страницы к заветному разделу «Сделать заказ».</p>
								<p>Чтобы текст полноценно работал на увеличение прибыли, мы даём вам в помощь профессиональных 
								специалистов-копирайтеров. Гарантируем, что они сделают всё как нужно.</p>
								<div class="h4">Вы получаете:</div>
								<ul class="copywriting-list">
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-01.png" alt=""/>
										</div>
										<strong>1. Гарантию, что копирайтер будет «в теме»</strong>Заказывая текст узкой тематики (технические решения, автомобили, медицина, строительство, другие профессиональные темы), в которых «конвейерные» копирайтеры обычно «плавают», вы получаете пробную страницу в подарок. Если результат сразу не устроит — не нужно будет ни за что платить.
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-02.png" alt=""/>
										</div>
										<strong>2. Гарантию, что текст будет точно соответствовать вашему техническому заданию</strong>
										Мы будем дорабатывать текст по вашему требованию бесконечное число раз, чтобы получить вариант, идеально соответствующий техническому заданию.
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-03.png" alt=""/>
										</div>
										<strong>3. Вечную гарантию на готовый текст</strong>
										В течение всего времени, пока текст находится на вашем сайте, мы бесплатно внесём в него любые правки, если будет обнаружено любое несоответствие техническому заданию.
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-04.png" alt=""/>
										</div>
										<strong>4. Гарантию аккуратности в мелочах</strong>
										Из текста обязательно убирается весь канцелярит. Мы не злоупотребляем метафорами и восклицательными знаками, точны в описании вашей уникальности, аккуратны с фактами и разрабатываем только интересный контент.
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-05.png" alt=""/>
										</div>
										<strong>5. Гарантию постоянной прямой связи с копирайтером</strong>
										Работа с копирайтером максимально упрощена. «Испорченный телефон» в виде цепочки менеджеров исключён: вы общаетесь с исполнителем напрямую.
									</li>
								</ul>
								<div class="h4">Виды работ и стоимость:</div>
								<p><strong>ПРОДАЮЩИЕ ТЕКСТЫ</strong></p>
								<p>Тексты, главная цель которых – мотивировать потенциального клиента сделать заказ. Помогают:</p>
								<ul class="copywriting-list">
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-06.png" alt=""/>
										</div>
										повысить конверсию сайта, если это тексты на посадочных страницах;
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-07.png" alt=""/>
										</div>
										расширить целевую аудиторию, если размещены на буклетах, листовках, в рассылке.
									</li>
								</ul>
								<table class="copywriting-table">
									<tbody>
										<tr>
											<td>Копирайтинг текстов, предназначенных для продажи товара или продвижения услуги через интернет, в том числе для СМИ (продающий текст на лендинг или главную страницу сайта, текст почтовой рассылки, пресс-релиз, интервью и др).</td>
											<td>750 руб.</td> 
										</tr>
										<tr>
											<td>«Бумажные» тексты (каталог, брошюра, буклет, листовка, презентация, коммерческое предложение, деловая переписка и др.)</td>
											<td>850 руб.</td> 
										</tr>
										<tr>
											<td>Составление текста публичного выступления</td>
											<td>1500 р. / минута (600 символов)</td> 
										</tr>
									</tbody>
								</table>
								<p><strong>РЕДКАТИРОВАНИЕ</strong></p>
								<table class="copywriting-table">
									<tbody>
										<tr>
											<td>Редактирование рекламного текста без изучения дополнительной информации.</td>
											<td>400 руб.</td> 
										</tr>
										<tr>
											<td>Редактирование рекламного текста с изучением дополнительной информации (как на сайте компании, так и в других источниках)</td>
											<td>600 руб.</td> 
										</tr>
										<tr>
											<td>Корректура рекламного текста</td>
											<td>250 руб.</td> 
										</tr>
									</tbody>
								</table>
								<div class="h4">SEO - тексты</div>
								<p>Такие тексты оптимизированы под требования поисковых систем, но не ставят прямой целью продать товар или услугу.</p>
								<p>Помогают:</p>
								<ul class="copywriting-list">
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-08.png" alt=""/>
										</div>
										повысить конверсию сайта, если это тексты на посадочных страницах;
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-09.png" alt=""/>
										</div>
										расширить целевую аудиторию, если размещены на буклетах, листовках, в рассылке.
									</li>
								</ul>
								<p>Стоимость указана за 1000 символов с пробелами.</p>
								<p><strong>SEO-КОПИРАЙТИНГ (СОЗДАНИЕ ТЕКСТА С НУЛЯ, С ИЗУЧЕНИЕМ НОВЫХ ИСТОЧНИКОВ ИНФОРМАЦИИ)</strong></p>
								<table class="copywriting-table">
									<tbody>
										<tr>
											<td>Традиционный SEO-копирайтинг</td>
											<td>450 руб.</td> 
										</tr>
										<tr>
											<td>SEO-копирайтинг с элементами продающего текста</td>
											<td>600 руб.</td> 
										</tr>
									</tbody>
								</table>
								<p><strong>РЕРАЙТ SEO-ТЕКСТОВ (СОЗДАНИЕ НОВОГО ТЕКСТА НА ОСНОВЕ СУЩЕСТВУЮЩЕГО)</strong></p>
								<table class="copywriting-table">
									<tbody>
										<tr>
											<td>Рерайт без изучения дополнительной информации</td>
											<td>350 руб.</td> 
										</tr>
										<tr>
											<td>Рерайт SEO-текстов с изучением дополнительной информации (как на сайте компании, так и в других источниках)</td>
											<td>450 руб.</td> 
										</tr>
									</tbody>
								</table>
								<p><strong>РЕДАКТИРОВАНИЕ</strong></p>
								<table class="copywriting-table">
									<tbody>
										<tr>
											<td>Редактирование. Проверка и правка грамматики и орфографии, терминов и аббревиатур, «тонкая шлифовка» стиля. При необходимости – переформатирование неудачной логической структуры текста.</td>
											<td>350 руб.</td> 
										</tr>
										<tr>
											<td>Корректура. Проверка и правка грамматики, орфографии и критичных стилистических ляпов</td>
											<td>250 руб.</td> 
										</tr>
									</tbody>
								</table>
								<div class="h4">Аудит текстов</div>
								<p>Лингвистическая и маркетинговая проверка текстов с подготовкой подробного отчета.</p>
								<p>Помогает:</p>
								<ul class="copywriting-list">
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-10.png" alt=""/>
										</div>
										получить полное представление о текущем состоянии контента;
									</li>
									<li>
										<div class="copywriting-list-image">
											<img src="img/copywriting-list-11.png" alt=""/>
										</div>
										точно узнать, какие именно тексты нужно менять, а где – только немного скорректировать.
									</li>
								</ul>
								<p>В ходе аудита проверяется:</p>
								<ul class="disc-style">
									<li><span>логическая структура – отвечает ли она задачам текста;</span></li>
									<li><span>аккуратность вставки ключевых фраз – не ломают ли они стиль</span></li>
									<li><span>правильность терминологии;</span></li>
									<li><span>стилистика;</span></li>
									<li><span>грамматика;</span></li>
									<li><span>орфография.</span></li>
								</ul>
								<p>По результатам работы эксперт составляет письменное заключение (общее или постраничное) с рекомендациями по устранению выявленных недостатков.</p>
								<p>Стоимость аудита:</p>
								<table class="copywriting-table">
									<tbody>
										<tr>
											<td>до 10 страниц текста</td>
											<td>350 р. за страницу</td> 
										</tr>
										<tr>
											<td>от 10 до 25 страниц</td>
											<td>300 рублей за страницу</td> 
										</tr>
										<tr>
											<td>от 25 до 50 страниц</td>
											<td>200 р. за страницу</td> 
										</tr>
										<tr>
											<td>от 50 страниц</td>
											<td>150 р. за страницу</td> 
										</tr>
									</tbody>
								</table>
								<p>Кроме того, в аудит может быть включена и проверка продающих качеств текстов. Об ее особенностях подробнее можно узнать у менеджера.</p>
							</div>
						</div>
						<div class="button center">
							<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-btn_seo"></i>Заказать SMO или SMM</a>
						</div>
					</div>
                </div>
            </div>
            <div class="col l3 rel">
                <div class="request" id="request">
                    <div class="name">Заявка на услуги</div>
                    <div class="box">
                        <div class="form">
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Адрес сайта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваше имя">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Вашa почта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                    <div class="input-field col s12 push">
                                        <div class="row">
                                            <div class="col l3">
                                                <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked>
                                                    <span class="switch-label" data-on="Да" data-off="Нет"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="col l9">
                                                Хочу быть в курсе трендов
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 center">
                                        <input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>