<div class="wrap optimization">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h1 class="center heading-title">SMO и SMM - что это такое?</h1>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">Продвижение сайтов</a></li>
                        <li><span>SMO и SMM - что это такое?</span></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 rel">
                <div class="slide__nav" id="navigation_vert">
                    <ul>
                        <li>
                            <a class="seo_ic" href="#">
                                <span>Продвижение сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="leads_ic" href="#">
                                <span>Лидогенерация</span>
                            </a>
                        </li>
                        <li>
                            <a class="reklama_ic" href="#">
                                <span>Интернет-реклама</span>
                            </a>
                        </li>
                        <li>
                            <a class="site_ic" href="#">
                                <span>Создание сайтов</span>
                            </a>
                        </li>
                        <li>
                            <a class="analitic_ic" href="#">
                                <span>Веб-аналитика</span>
                            </a>
                        </li>
                        <li>
                            <a class="support_ic" href="#">
                                <span>Аналитическая поддержка</span>
                            </a>
                        </li>
                        <li>
                            <a class="strategy_ic" href="#">
                                <span>Стратегия и консалтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="copy_ic" href="#">
                                <span>Копирайтинг</span>
                            </a>
                        </li>
                        <li>
                            <a class="conversy_ic" href="#">
                                <span>Увеличение конверсии</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l8">
                <div class="content">
					<div class="smm-page">
						<div class="row border">
							<div class="col l12">
								<div class="image nb">
									<img src="img/smm-01.jpg" alt="">
								</div>
								<div class="h3">Юзабилити</div>
								<p>И SMM (Social Media Marketing), и SMO (Social Media Optimization) относятся к комплексу мероприятий по социальному продвижению. Однако не стоит смешивать эти понятия</p>
								<ul class="smm-stars-list">
									<li><strong>SMO</strong> — оптимизация сайта, ориентированная не на поисковые машины, а на пользователей, направленная на адаптацию и «социализацию» контента. Усилия по SMO продвижению сайта направлены на то, чтобы статьи и заметки чаще цитировали в социальных сетях, блогах и форумах, привлекая на сайт посетителей оттуда.</li>
									<li><strong>SMM</strong> — это продвижение сайта через непосредственное общение с представителями целевой аудитории при помощи социальных сетей и блогов. Плюсы такого метода работы в том, что комментарии, отзывы, пожелания потенциальных клиентов вы можете получать немедленно и, опираясь на эту обратную связь, корректировать политику продвижения.</li>
								</ul>
								<div class="h4">SMM - маркетинг в социальных сетях</div>
								<br><br>
								<div class="image nb left">
									<img src="img/smm-02.png" alt="">
								</div>
								<p>По определению экспертов, <strong>SMM является маркетингом в социальных сетях.</strong></p>
								<ul class="disc-style">
									<li><span>SMM не предполагает работу на своем сайте, все действия необходимо совершать в любой соцсети, форуме или блоге.</span></li>
									<li><span>Маркетинг в социальных медиа включает в себя комплекс мероприятий, которые направлены на продвижение сайтов, различных товаров и услуг при помощи социальных сервисов. Главная цель при этом – привлечение на сайт целевых посетителей.</span></li>
									<li><span>SMM предусматривает ненавязчивое размещение или поощрение размещения в социальных сетях в темах, соответствующих тематике сайта.</span></li>
									<li><span>SMM – это эффективный инструмент, который позволяет донести до пользователя информацию о продукте, который содержится на главном сайте, при этом возможны отзывы о товаре другими пользователями и общение их между собой.</span></li>
									<li><span>Маркетинг в социальных сетях предполагает яркие, громкие провокационные заголовки, направленные на то, чтобы пробудить интерес у пользователя и перейти для знакомства полной версии материала на основной сайт.</span></li>
									<li><span>Одна из главных задач SMM – это объединение с аудиторией, которая не приемлет открытую рекламу, ей хочется общения.</span></li>
								</ul>
								<div class="h4">SMO - оптимизация под социальные сети</div>
								<br><br>
								<div class="image nb left">
									<img src="img/smm-03.png" alt="">
								</div>
								<p>По определению все тех же экспертов, <strong>SMO - это оптимизация под социальные сети.</strong></p>
								<ul class="disc-style">
									<li><span>SMO – это не работа в социальных сетях, поскольку все действия осуществляют на личном сайте. Они состоят в подготовке ресурса к переходам пользователей с различных соцсетей.</span></li>
									<li><span>Оптимизация под социальные сети – это, прежде всего, работа с контентом, который размещается на сайте. Главная цель – сделать его как можно интереснее и дружелюбнее для пользователя социального сервиса, чтобы он стал постоянным посетителем и привел за собой знакомых.</span></li>
									<li><span>SMO предполагает трансформацию своего веб-проекта для оптимального его соответствия всем техническим механизмам, которые используют социальные сети и достижения необходимой релевантности контента для всех пользователей.</span></li>
									<li><span>Оптимизация предполагает создание инфраструктуры на сайте с наличием исходящим каналов, которые легко и оперативно позволят экспортировать контент в соцзакладки, соцсеть, блогосферу и различные РРС-агрегаторы. То есть у пользователя должна быть возможность добавить сайт в закладки, подписаться на е-мейл рассылку. Сюда же относят наличие на сайте кнопок, с помощью которых можно осуществлять постинг в социальные сети в автоматическом режиме.</span></li>
									<li><span>SMO также призван по максимуму снижать уходы, то есть количество ситуаций, когда пользователь не переходит на другие страницы сайта, а уходит с той, с которой пришел. Этого можно достичь созданием яркого списка самых интересных материалов, расположив их на самом видном месте и организовав легкий переход по ним.</span></li>
									<li><span>SMO дает возможность открытия на своем ресурсе обмена мнениями, регулярных и активных дискуссий, при этом должна быть соответствующая защита от спама.</span></li>
								</ul>
								<div class="h4">Услуги по продвижению</div>
								<p>Мы предлагаем вам следующие услуги по продвижению сайта с помощью социальных сетей и блогов:</p>
								<ul class="smm-list">
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-01.png" alt=""/>
										</div>
										создание, ведение и продвижение корпоративного блога;
									</li>
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-02.png" alt=""/>
										</div>
										создание и продвижение представительства компании в популярных социальных сетях и блогосфере (ВКонтакте, Одноклассники, Facebook, Twitter, Живой Журнал, LiveInternet и т. п.);
									</li>
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-03.png" alt=""/>
										</div>
										управление имиджем компании в блогах и социальных сетях;
									</li>
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-04.png" alt=""/>
										</div>
										сотрудничество с блогерами и лидерами общественного мнения в сообществах;
									</li>
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-05.png" alt=""/>
										</div>
										скрытый маркетинг на форумах;
									</li>
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-06.png" alt=""/>
										</div>
										вирусный маркетинг и организация флеш-мобов;
									</li>
									<li>
										<div class="smm-list-image">
											<img src="img/smm-icon-07.png" alt=""/>
										</div>
										проведение маркетинговых исследований в блогосфере;
									</li>
								</ul>
							</div>
						</div>
						<div class="button center">
							<a href="" class="waves-effect yellow darken-5 btn"><i class="icon-btn_seo"></i>Заказать SMO или SMM</a>
						</div>
					</div>
                </div>
            </div>
            <div class="col l3 rel">
                <div class="request" id="request">
                    <div class="name">Заявка на услуги</div>
                    <div class="box">
                        <div class="form">
                            <form action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Адрес сайта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваше имя">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Вашa почта">
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                    <div class="input-field col s12 push">
                                        <div class="row">
                                            <div class="col l3">
                                                <label class="switch switch-green">
                                                    <input type="checkbox" class="switch-input" checked>
                                                    <span class="switch-label" data-on="Да" data-off="Нет"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="col l9">
                                                Хочу быть в курсе трендов
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-field col s12 center">
                                        <input type="submit" class="waves-effect light-blue base btn " value="Заказать услугу">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>